<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">
	
	<resultMap id="myAddressResult" type="MyAddress">
		<result column="add_no" property="addressNo"/>
		<result column="emp_no" property="employeeNo"/>
		<result column="group_no" property="groupNo"/>
		<result column="group_name" property="groupName"/>
		<result column="add_name" property="addressName"/>
		<result column="add_nick" property="addressNickName"/>
		<result column="add_tel" property="addressTel"/>
		<result column="add_extension_no" property="addExtensionNo"/>
		<result column="add_fax" property="addressFax"/>
		<result column="add_company" property="addressCompany"/>
		<result column="add_department" property="addressDepartment"/>
		<result column="add_position" property="addressPosition"/>
		<result column="add_memo" property="addressMemo"/>
		<result column="add_email" property="addressEmail"/>
		<result column="add_star" property="addressStar"/>
		<result column="add_status" property="addressStatus"/>
	</resultMap>
	
	<resultMap id="myGroupResult" type="MyGroup">
		<result column="group_no" property="groupNo"/>
		<result column="group_name" property="groupName"/>
		<result column="emp_no" property="employeeNo"/>
	</resultMap>
	
	<!-- <resultMap id="positionResult" type="Position">
		<result column="pos_cd" property="positionCode"/>
		<result column="pos_name" property="positionName"/>
	</resultMap> -->
	
	<resultMap id="departmentResult" type="Department">
		<result column="dep_cd" property="departmentCode"/>
		<result column="dep_name" property="departmentName"/>
	</resultMap> 
	
	<resultMap id="empResult" type="Employee">
		<result column="emp_no" property="empNo" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="emp_name" property="empName" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_extension" property="empExtension" />
		<result column="emp_email" property="empEmail" />
		<result column="emp_exemail" property="empExEmail" />
		<result column="emp_enrolldate" property="empEnrollDate" />
		<result column="emp_retiredate" property="empRetireDate" />
		<result column="emp_modifydate" property="empModifyDate" />
		<result column="emp_status" property="empStatus" />
		<result column="emp_profile" property="empProfile" />		
		<result column="emp_nt_admin" property="empNtAdmin" />
		<result column="dep_cd" property="depCd" />
		<result column="pos_cd" property="posCd" />	
		<result column="emp_sig_use" property="empSigUse" />		
	</resultMap>
	
	<select id="selectDepList" resultMap="departmentResult">	
		select dep_cd,
		       dep_name
		  from tb_department
		  order
		     by dep_cd asc	
	</select>
	
	<select id="selectGpList" resultMap="myGroupResult">
		 select group_no,
		 		group_name 
		   from tb_mygroup
		  where emp_no = #{empNo}
		  order 
		     by group_no asc
	</select>
	
	
	<select id="selectEmpAdList" resultMap="empResult">
		 select 
		         emp_no
		        , emp_Id
		        , emp_pwd
		        , emp_name
		        , emp_phone
		        , emp_extension
		        , emp_email
		        , emp_exEmail
		        , emp_enrollDate
		        , emp_retireDate
		        , emp_modifyDate
		        , emp_status
		        , emp_profile      
		        , emp_nt_admin
		        , dep_name as dep_cd
		        , pos_name as pos_cd   
		        , emp_sig_use
		    from tb_employee
		    join tb_department using(dep_cd)
		    join tb_position using(pos_cd)
		   where dep_cd = #{depCd}
		    and emp_status = 'Y'
		   order 
		   	  by emp_name asc
	</select>
	
	<select id="selectEmpAdListCount" resultType="_int">
		  select count(*)       
		    from tb_employee   
		    where dep_cd = #{depCd}
		     and emp_status = 'Y'
	</select>
	
	<select id="selectMyAddCount" resultType="_int">
		select count(*)
               from tb_my_address
              where group_no = #{groupNo}
                and add_status = 'Y'
	</select>
	
	<select id="selectMyAddList" resultMap="myAddressResult">
		select
               add_no
             , emp_no
             , group_no
             , add_name
             , add_nick
             , add_tel
             , add_extension_no
             , add_fax
             , add_company
             , add_department
             , add_position
             , add_memo
             , add_email
             , add_star
             , add_status
       from tb_my_address
      where group_no = #{groupNo}
        and add_status = 'Y'
      order
      	 by add_name asc
	</select>
	
	<select id="selectStarAdCount" resultType="_int">
		 select count(*)
	       from tb_my_address
	      where emp_no = #{empNo}
	        and add_star = 'Y'
	        and add_status = 'Y'
	</select>
	
	<select id="selectStarList" resultMap="myAddressResult">
		 select
               add_no
             , a.emp_no as "emp_no"
             , a.group_no as "group_no"
             , group_name
             , add_name
             , add_nick
             , add_tel
             , add_extension_no
             , add_fax
             , add_company
             , add_department
             , add_position
             , add_memo
             , add_email
             , add_star
             , add_status
	      from tb_my_address a
	      join tb_mygroup g on(a.group_no = g.group_no)
	     where a.emp_no = #{empNo}
	       and add_star = 'Y'
	       and add_status = 'Y'
         order
      	    by add_name asc
	</select>
	
	<select id="selectDetailEmp" resultMap="empResult">
		select 
		          emp_no
		        , emp_Id
		        , emp_pwd
		        , emp_name
		        , emp_phone
		        , emp_extension
		        , emp_email
		        , emp_exEmail
		        , emp_enrollDate		  
		        , emp_status
		        , emp_profile      
		        , emp_nt_admin
		        , dep_name as dep_cd
		        , pos_name as pos_cd   
		        , emp_sig_use
		    from tb_employee
		    join tb_department using(dep_cd)
		    join tb_position using(pos_cd)
		   where emp_no = #{empNo}
	</select>
	
	<select id="selectDetailmyAdd" resultMap="myAddressResult">
		 select
               add_no
             , a.emp_no as "emp_no"
             , a.group_no as "group_no"
             , group_name
             , add_name
             , add_nick
             , add_tel
             , add_extension_no
             , add_fax
             , add_company
             , add_department
             , add_position
             , add_memo
             , add_email
             , add_star
             , add_status
	      from tb_my_address a
	      join tb_mygroup g on(a.group_no = g.group_no)
	     where add_no = #{addressNo}
	</select>
	
	<update id="updateAddStar">
		 update 
		        tb_my_address
		    set add_star = #{addressStar}
		  where add_no = #{addressNo}
	</update>
	
	<update id="updateAdd">
		 update 
			 	 tb_my_address
	     	set         
	               group_no  = #{groupNo}         
	             , add_name = #{addressName}
	             , add_nick = #{addressNickName}
	             , add_tel = #{addressTel}
	             , add_extension_no= #{addExtensionNo}
	             , add_fax = #{addressFax}
	             , add_company = #{addressCompany}
	             , add_department = #{addressDepartment}
	             , add_position = #{addressPosition}
	             , add_memo = #{addressMemo}
	             , add_email = #{addressEmail}     
	        where add_no = #{addressNo}
	</update>
	
	<insert id="insertAdd">
		insert
		  into tb_my_address
        (
               add_no
             , group_no    
             , add_name 
             , add_nick 
             , add_tel 
             , add_extension_no
             , add_fax 
             , add_company 
             , add_department 
             , add_position 
             , add_memo 
             , add_email 
             , add_star              
             , emp_no
        )
        values
        (
             SEQ_ADDNO.NEXTVAL
             , #{groupNo}
             , #{addressName}
             , #{addressNickName}
             , #{addressTel}
             , #{addExtensionNo}
             , #{addressFax}
             , #{addressCompany}
             , #{addressDepartment}
             , #{addressPosition}
             , #{addressMemo}
             , #{addressEmail}
             , #{addressStar}               
             , #{employeeNo}
        )
	</insert>
	
	<insert id="insertGp">
	insert
		  into tb_mygroup
        (
               group_no    
             , group_name           
             , emp_no
        )
        values
        (
             SEQ_GPNO.NEXTVAL
             , #{groupName}                           
             , #{employeeNo}
        )	
	</insert>
	
	<update id="updateGp">
		update 
            	tb_mygroup
	       set 	group_name = #{groupName}
	      where group_no = #{groupNo}
	</update>
	
	<delete id="deleteGp">
		 DELETE 
		   FROM TB_MYGROUP
		  WHERE GROUP_NO = #{groupNo} 
	</delete>
	
	<update id="deleteAddOne">
		update
				tb_my_address
		   set  add_status = 'N'
		 where  add_no = #{addressNo}		   		
	</update>
	
</mapper>