<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	
	<resultMap id="AttendanceResult" type="Attendance">
		<result column="ATT_NO" property="attNo"/>
		<result column="EMP_NO" property="empNo"/>
		<result column="ATT_DATE" property="attDate"/>
		<result column="ATT_FCMT" property="attFcmt"/>
		<result column="ATT_FQT" property="attFqt"/>
		<result column="ATT_CMT" property="attCmt"/>
		<result column="ATT_QT" property="attQt"/>
		<result column="ATT_TIME" property="attTime"/>
		<result column="ATT_WORKHOURS" property="attWorkhours"/>
		<result column="ATT_STATUS" property="status"/>
		<result column="ATT_HOLIDAY" property="hollyday"/>
		
		<result column="DEP_NAME" property="depName"/>
		<result column="POS_NAME" property="posName"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="ATT_WORKHOURS" property="workhours"/>
	</resultMap>
	
	<resultMap id="departmentResult" type="AttDepartment">
		<result column="dep_cd" property="depCd"/>
		<result column="dep_name" property="depName"/>
	</resultMap>
	
	<!-- 전사원 근태현황 조회 리스트개수 -->
	<select id="selectSearchCount" resultType="_int">
		select 
		       count(*)
		  from tb_attendance a
		  join tb_employee e
            on (a.emp_no = e.emp_no)
		 where e.emp_status='Y'
		   <if test="condition == '1'"> 
		   	and e.dep_cd = '1'
		   </if>
		   <if test="condition == '2'">
		   	and e.dep_cd = '2'
		   </if>
		   <if test="condition == '3'"> 
		   	and e.dep_cd = '3'
		   </if>
			<if test="keyword != ''">
		    and e.emp_name like '%' || #{keyword} || '%'
		   	</if>
		   	<if test="date1 != '' and date2 != ''">
		    and (a.att_date between to_date(#{date1}, 'YYYY-MM-DD') and to_date(#{date2},'YYYY-MM-DD'))
		    </if>
	</select>
	
	<!-- 전사원 근태현황 조회 리스트-->
	<select id="selectSearchList" resultMap="AttendanceResult">
		SELECT
		    a.emp_no,
		    d.dep_name,
		    p.pos_name,
		    e.emp_name,
		    a.att_date,
		    a.att_cmt,
		    a.att_qt,
		    a.att_time,
		    case when a.att_qt is not null  
		         then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
		             trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
		             		-to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
		         else null 
		    end as att_workhours,
		    att_status
		FROM
		    tb_attendance a
		join tb_employee e
		  on (a.emp_no = e.emp_no)
		join tb_position p
		  on (e.pos_cd = p.pos_cd)
		join tb_department d
		  on (e.dep_cd = d.dep_cd)
	   where e.emp_status='Y'
	   <if test="condition eq '1'"> 
	   	and e.dep_cd = '1'
	   </if>
	   <if test="condition eq '2'"> 
	   	and e.dep_cd = '2'
	   </if>
	   <if test="condition eq '3'">  
	   	and e.dep_cd = '3'
	   </if>
		<if test="keyword != null and !keyword.equals('')">
	    and e.emp_name like '%' || #{keyword} || '%'
	   	</if>
	   	<if test="(date1 != null and !date1.equals('')) and (date2 != null and !date2.equals(''))">
	    and (a.att_date between to_date(#{date1}, 'YYYY-MM-DD') and to_date(#{date2},'YYYY-MM-DD'))
	    </if>
	</select>
	
	
	<!-- 전사원 근태현황 조회 근무상태 수 -->
	<select id="statusCount" resultType="_int">

		SELECT      
			case when count(*) != 0 then count(*)
	        else 0
	        end
	               
            FROM
            (
                SELECT  B.DT
                    ,   B.ATT_DATE
                    ,   NVL(B.ATT_DATE,'결근') AS FATT_DATE
                FROM
                (
                SELECT  A.DT
                    ,   (SELECT CASE WHEN ATT_STATUS = '정상' THEN '정상'
                                     WHEN ATT_STATUS = '지각' THEN '지각'
                                     WHEN ATT_STATUS = '연차' THEN '연차'
                                     WHEN ATT_STATUS = '오전반차' THEN '오전반차'
                                     WHEN ATT_STATUS = '오후반차' THEN '오후반차'
                                     END
                   		 FROM tb_attendance WHERE ATT_DATE = A.DT ) AS ATT_DATE
                    
                 FROM (
                             SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT
                               FROM ( 
                               			
                               			<choose>
										 	<when test="(date1 != null and !date1.equals('')) and (date2 != null and !date2.equals(''))">
								            	SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
								            </when>
								           	<otherwise>
								           		SELECT TO_CHAR(TO_DATE(#{date1},'YYYYMMDD'), 'YYYYMMDD') AS ST_DT 
                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYYMMDD'), 'YYYYMMDD') AS END_DT
								            </otherwise>
										</choose>                                
                                        FROM DUAL 
                                      )
                             CONNECT BY LEVEL  &lt;=  TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
                      ) A
            	) B
            ) C
            where C.FATT_DATE = #{a}

	</select>
	
	<select id="departmentList" resultMap="departmentResult">
		select 
				dep_cd
			  , dep_name
			from TB_DEPARTMENT 
	</select>
</mapper>