<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	
	<resultMap id="AttendanceResult" type="Attendance">
		<result column="ATT_NO" property="attNo"/>
		<result column="EMP_NO" property="empNo"/>
		<result column="ATT_DATE" property="attDate"/>
		<result column="ATT_FCMT" property="attFcmt"/>
		<result column="ATT_FQT" property="attFqt"/>
		<result column="ATT_CMT" property="attCmt"/>
		<result column="ATT_QT" property="attQt"/>
		<result column="ATT_TIME" property="attTime"/>
		<result column="ATT_WORKHOURS" property="attWorkhours"/>
		<result column="ATT_STATUS" property="status"/>
		<result column="ATT_HOLIDAY" property="hollyday"/>
		
		<result column="DEP_NAME" property="depName"/>
		<result column="POS_NAME" property="posName"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="ATT_WORKHOURS" property="workhours"/>
		<result column="dt" property="dt"/>
		<result column="emp_status" property="empStatus"/>
	</resultMap>
	
	<resultMap id="departmentResult" type="AttDepartment">
		<result column="dep_cd" property="depCd"/>
		<result column="dep_name" property="depName"/>
	</resultMap>
	
	<resultMap id="positionResult" type="AttPosition">
		<result column="POS_CD" property="posCd"/>
		<result column="POS_NAME" property="posName"/>
	</resultMap>
	
	<!-- 전사원 근태현황 조회 리스트개수 -->
	<select id="selectSearchCount" resultType="_int">
		select count(*)
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        a.att_time,
			        e.emp_status,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        
			        	<choose>
							<when test='condition == "0"'></when>
							<otherwise> 
							   	and dep_cd = #{condition}
							</otherwise>
						</choose>
						
						<if test="keyword != null and keyword != ''">
					    and (emp_name like '%' || #{keyword} || '%' or emp_no = #{keyword})
					   	</if>
					order by dt desc
	    
	</select>
	
	<!-- 전사원 근태현황 조회 리스트-->
	<select id="selectSearchList" resultMap="AttendanceResult">
		select *
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        a.att_time,
			        e.emp_status,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        
			        	<choose>
							<when test='condition == "0"'></when>
							<otherwise> 
							   	and dep_cd = #{condition}
							</otherwise>
						</choose>
						
						<if test="keyword != null and keyword != ''">
					    and (emp_name like '%' || #{keyword} || '%' or emp_no = #{keyword})
					   	</if>
					order by dt desc
	    
	</select>
	
	
	<!-- 전사원 근태현황 조회 근무상태 수 -->
	<select id="statusCount" resultType="_int">

		select count(*)
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        a.att_time,
			        e.emp_status,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        
			        	<choose>
							<when test='condition == "0"'></when>
							<otherwise> 
							   	and dep_cd = #{condition}
							</otherwise>
						</choose>
						
						<if test="keyword != null and keyword != ''">
					    and (emp_name like '%' || #{keyword} || '%' or emp_no = #{keyword})
					   	</if>
					 and att_status = #{a}
					order by dt desc
          

	</select>
	
	<select id="departmentList" resultMap="departmentResult">
		select 
				dep_cd
			  , dep_name
			from tb_department 
	</select>
	
	<select id="positionList" resultMap="positionResult">
		 select 
				pos_cd
			  ,	pos_name
		   from tb_position
	</select>
	
	<insert id="insertPosition">
		insert 
			into tb_position
				(
					pos_cd
				  , pos_name
				)
				values
				(
					#{positionCode}
				  , #{positionName}
				)	
	</insert>
	
</mapper>