<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attendanceMapper">
	
	<resultMap id="AttendanceResult" type="Attendance">
		<result column="ATT_NO" property="attNo"/>
		<result column="EMP_NO" property="empNo"/>
		<result column="ATT_DATE" property="attDate"/>
		<result column="ATT_FCMT" property="attFcmt"/>
		<result column="ATT_FQT" property="attFqt"/>
		<result column="ATT_CMT" property="attCmt"/>
		<result column="ATT_QT" property="attQt"/>
		<result column="ATT_TIME" property="attTime"/>
		<result column="ATT_WORKHOURS" property="attWorkhours"/>
		<result column="ATT_STATUS" property="status"/>
		<result column="ATT_HOLIDAY" property="hollyday"/>
		
		<result column="DEP_NAME" property="depName"/>
		<result column="POS_NAME" property="posName"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="ATT_WORKHOURS" property="workhours"/>
		<result column="dt" property="dt"/>
		<result column="emp_status" property="empStatus"/>
		
		<result column="work_week" property="workWeek"/>
		<result column="work_month" property="workMonth"/>
		<result column="week_work_hours" property="weekWorkHours"/>
		<result column="week_plus_work_hours" property="weekPlusWorkHours"/>
		<result column="month_work_hours" property="monthWorkHours"/>
		<result column="month_plus_work_hours" property="monthPlusWorkHours"/>
		<result column="x" property="x"/>
		<result column="y" property="y"/>
		
	</resultMap>
	
	<resultMap id="departmentResult" type="AttDepartment">
		<result column="dep_cd" property="depCd"/>
		<result column="dep_name" property="depName"/>
	</resultMap>
	
	<resultMap id="positionResult" type="AttPosition">
		<result column="POS_CD" property="posCd"/>
		<result column="POS_NAME" property="posName"/>
	</resultMap>
	
	<resultMap id="holidayResult" type="Holiday">
		<result column="hol1_day" property="holDay"/>
		<result column="hol1_name" property="holName"/>
	</resultMap>
	
	
	<!-- 전사원 근태현황 조회 리스트개수 -->
	<select id="selectSearchCount" resultType="_int">
		select count(*)
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        a.att_time,
			        e.emp_status,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				                AND DT NOT IN (select hol1_day from tb_holiday1)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        
			        	<choose>
							<when test='condition == "0"'></when>
							<otherwise> 
							   	and dep_cd = #{condition}
							</otherwise>
						</choose>
						
						<if test="keyword != null and keyword != ''">
					    and (emp_name like '%' || #{keyword} || '%' or emp_no = #{keyword})
					   	</if>
					order by dt desc, dep_name
	    
	</select>
	
	<!-- 전사원 근태현황 조회 리스트-->
	<select id="selectSearchList" resultMap="AttendanceResult">
		select *
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        case when a.att_time is not null
			        	then (trunc(a.att_time/60) || '시간' || trunc(((a.att_time/60)-trunc(a.att_time/60))*60) || '분') 
			        	else null end as att_time,
			        e.emp_status,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				                AND DT NOT IN (select hol1_day from tb_holiday1)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        
			        	<choose>
							<when test='condition == "0"'></when>
							<otherwise> 
							   	and dep_cd = #{condition}
							</otherwise>
						</choose>
						
						<if test="keyword != null and keyword != ''">
					    and (emp_name like '%' || #{keyword} || '%' or emp_no = #{keyword})
					   	</if>
					order by dt desc, dep_name
	    
	</select>
	
	
	<!-- 전사원 근태현황 조회 근무상태 수 -->
	<select id="statusCount" resultType="_int">

		select count(*)
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        a.att_time,
			        e.emp_status,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				                AND DT NOT IN (select hol1_day from tb_holiday1)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        
			        	<choose>
							<when test='condition == "0"'></when>
							<otherwise> 
							   	and dep_cd = #{condition}
							</otherwise>
						</choose>
						
						<if test="keyword != null and keyword != ''">
					    and (emp_name like '%' || #{keyword} || '%' or emp_no = #{keyword})
					   	</if>
					 and att_status = #{a}
					order by dt desc, dep_name
          

	</select>
	
	<select id="departmentList" resultMap="departmentResult">
		select 
				dep_cd
			  , dep_name
			from tb_department 
			order 
			   by dep_cd 
	</select>
	
	<select id="positionList" resultMap="positionResult">
		 select 
				pos_cd
			  ,	pos_name
		   from tb_position
		   order 
			   by pos_cd
	</select>
	
	<insert id="insertPosition">
		insert 
			into tb_position
				(
					pos_cd
				  , pos_name
				)
				values
				(
					#{positionCode}
				  , #{positionName}
				)	
	</insert>
	
	<insert id="insertDepartment">
		insert 
			into tb_department
				(
					dep_cd
				  , dep_name
				)
				values
				(
					#{departmentCode}
				  , #{departmentName}
				)	
	</insert>
	
	<update id="updatePosition">
		update tb_position
			set 
				pos_cd = #{positionCode2}
			   ,pos_name = #{positionName2}
			where pos_cd = #{positionCode1}
			  and pos_name = #{positionName1}
	</update>
	
	<delete id="deletePosition">
		delete 
			from tb_position
		   where pos_cd = #{positionCode1}
	</delete>
	
	
	<update id="updateDepartment">
		update tb_department
			set 
				dep_cd = #{departmentCode2}
			   ,dep_name = #{departmentName2}
			where dep_cd = #{departmentCode1}
			  and dep_name = #{departmentName1}
	</update>
	
	<delete id="deleteDepartment">
		delete 
			from tb_department
		   where dep_cd = #{departmentCode1}
	</delete>
	
	
	<select id="holidayList" resultMap="holidayResult">
		select 
				hol1_day
			  , hol1_name
			from tb_holiday1 
			order 
			   by hol1_day 
	</select>
	
	<insert id="insertHoliday">
		insert 
			into tb_holiday1
				(
					hol1_day
				  , hol1_name
				)
				values
				(
					#{holidayCode}
				  , #{holidayName}
				)	
	</insert>
	
	<update id="updateHoliday">
		update tb_holiday1
			set 
				hol1_day = #{holidayCode2}
			   ,hol1_name = #{holidayName2}
			where hol1_day = #{holidayCode1}
			  and hol1_name = #{holidayName1}
	</update>
	
	<delete id="deleteHoliday">
		delete 
			from tb_holiday1
		   where hol1_day = #{holidayCode1}
	</delete>
	
	
	<!-- 내 근무내역 개수 -->
	<select id="myAttendanceCount" resultType="_int">
		select count(*)
			from (SELECT 
			        c.emp_no,
			        d.dep_name,
			        d.dep_cd,
			        p.pos_name,
			        e.emp_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        a.att_time,
			        e.emp_status,
			        (select to_char(trunc(sysdate,'iw'), 'mm.dd(dy)') || '~' || to_char(trunc(sysdate,'iw')+4, 'mm.dd(dy)') from dual) as work_week,
                    (select to_char(sysdate, 'yyyy.mm') from dual) as work_month,
                    (select trunc(sum(ATT_WORKHOURS)/60) from tb_attendance
                      where to_date(to_char(trunc(sysdate,'iw')+4, 'yyyymmdd'), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date(to_char(trunc(sysdate,'iw'), 'yyyymmdd'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as week_work_hours,
                    (select trunc(sum(ATT_TIME)/60) from tb_attendance
                      where to_date(to_char(trunc(sysdate,'iw')+4, 'yyyymmdd'), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date(to_char(trunc(sysdate,'iw'), 'yyyymmdd'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as week_plus_work_hours,
                    (select trunc(sum(ATT_WORKHOURS)/60) from tb_attendance
                      where to_date((TO_CHAR(LAST_DAY(SYSDATE),'YYYYMMDD')), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date((TO_CHAR(SYSDATE,'YYYYMM')||'01'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as month_work_hours,
                    (select trunc(sum(ATT_TIME)/60) from tb_attendance
                      where to_date((TO_CHAR(LAST_DAY(SYSDATE),'YYYYMMDD')), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date((TO_CHAR(SYSDATE,'YYYYMM')||'01'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as month_plus_work_hours,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				                AND DT NOT IN (select hol1_day from tb_holiday1)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        	
			        	<if test="id != null and id != ''">
			        		and emp_no = #{id}
			        	</if>
			        	
			        	<!-- <if test="array != null"> 
					    AND emp_no IN
						    <foreach collection="array" item="item" index="index"  open="(" close=")" separator=",">
				        	  #{item}
	   						 </foreach>
   						 </if> -->
					order by dt desc
	    
	</select>
	
	
	
	<!-- 내근무내역 조회 리스트-->
	<select id="myAttendanceList" resultMap="AttendanceResult">
		select *
			from (SELECT 
					(select 52 - trunc(sum(ATT_WORKHOURS)/60) from tb_attendance
                      where to_date(to_char(trunc(sysdate,'iw')+4, 'yyyymmdd'), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date(to_char(trunc(sysdate,'iw'), 'yyyymmdd'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as x,
                    (select 225 - trunc(sum(ATT_WORKHOURS)/60) from tb_attendance
                      where to_date((TO_CHAR(LAST_DAY(SYSDATE),'YYYYMMDD')), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date((TO_CHAR(SYSDATE,'YYYYMM')||'01'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as y,    
			        c.emp_no,
			        d.dep_name,
			        p.pos_name,
			        c.dt,
			        a.att_cmt,
			        a.att_qt,
			        case when a.att_time is not null
			        	then (trunc(a.att_time/60) || '시간' || trunc(((a.att_time/60)-trunc(a.att_time/60))*60) || '분') 
			        	else null end as att_time,
			        e.emp_status,
			        (select to_char(trunc(sysdate,'iw'), 'mm.dd(dy)') || '~' || to_char(trunc(sysdate,'iw')+4, 'mm.dd(dy)') from dual) as work_week,
                    (select to_char(sysdate, 'yyyy.mm') from dual) as work_month,
                    (select trunc(sum(ATT_WORKHOURS)/60) from tb_attendance
                      where to_date(to_char(trunc(sysdate,'iw')+4, 'yyyymmdd'), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date(to_char(trunc(sysdate,'iw'), 'yyyymmdd'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as week_work_hours,
                    (select trunc(sum(ATT_TIME)/60) from tb_attendance
                      where to_date(to_char(trunc(sysdate,'iw')+4, 'yyyymmdd'), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date(to_char(trunc(sysdate,'iw'), 'yyyymmdd'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as week_plus_work_hours,
                    (select trunc(sum(ATT_WORKHOURS)/60) from tb_attendance
                      where to_date((TO_CHAR(LAST_DAY(SYSDATE),'YYYYMMDD')), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date((TO_CHAR(SYSDATE,'YYYYMM')||'01'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as month_work_hours,
                    (select trunc(sum(ATT_TIME)/60) from tb_attendance
                      where to_date((TO_CHAR(LAST_DAY(SYSDATE),'YYYYMMDD')), 'yyyymmdd') <![CDATA[>=]]> to_date(att_date, 'yyyymmdd')
                        and to_date((TO_CHAR(SYSDATE,'YYYYMM')||'01'), 'yyyymmdd') <![CDATA[<=]]> to_date(att_date, 'yyyymmdd')) as month_plus_work_hours,
			        case when a.att_qt is not null  
			             then trunc((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24)||'시간'||
			                 trunc(((to_date(a.att_qt, 'hh24mi')-to_date(a.att_cmt, 'hh24mi'))*24-(trunc((to_date(a.att_qt, 'hh24mi')
			                        -to_date(a.att_cmt, 'hh24mi'))*24)))*60)||'분'
			             else null 
			        end as att_workhours,
			        case when a.att_status is null 
			             then '결근'
			             else a.att_status
			             end as att_status
				    FROM
				        tb_attendance a 
				    right
				     join (SELECT DT, EMP_NO
				              FROM (
				                        SELECT TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'YYYYMMDD') AS DT,
				                               TO_CHAR(TO_DATE(ST_DT, 'YYYYMMDD') + LEVEL - 1, 'D') AS DAY
				                           FROM ( 
				                           			<choose>
													 	<when test="(date1 != null and date1 != '') and (date2 != null and date2 != '')">
											            	SELECT TO_CHAR(TO_DATE(#{date1},'YYYY-MM-DD'), 'YYYYMMDD') AS ST_DT 
			                                              , 	   TO_CHAR(TO_DATE(#{date2},'YYYY-MM-DD'), 'YYYYMMDD') AS END_DT
											            </when>
											           	<otherwise>
											           		SELECT TO_CHAR(SYSDATE,'YYYYMM')||'01' AS ST_DT 
			                                              , 	   TO_CHAR(SYSDATE,'YYYYMMDD') AS END_DT
											            </otherwise>
													</choose>
				                                    FROM DUAL 
				                                  )
				                         CONNECT BY LEVEL <![CDATA[<=]]> TO_DATE(END_DT, 'YYYYMMDD') - TO_DATE(ST_DT, 'YYYYMMDD') + 1
				                    ), (SELECT EMP_NO FROM TB_EMPLOYEE)
				                WHERE DAY NOT IN (1, 7)
				                AND DT NOT IN (select hol1_day from tb_holiday1)
				            )c on (a.emp_no = c.emp_no and a.att_date = c.dt)
			        join tb_employee e
				      on (c.emp_no = e.emp_no)
				    join tb_position p
				      on (e.pos_cd = p.pos_cd)
				    join tb_department d
				      on (e.dep_cd = d.dep_cd))
			        where emp_status='Y'
			        	
			        	<if test="id != null and id != ''">
			        		and emp_no = #{id}
			        	</if>
			        	<!-- <if test="array != null and array != '0'"> 
					    AND emp_no IN
						    <foreach collection="array" item="item" index="index"  open="(" close=")" separator=",">
				        	  #{item}
	   						 </foreach>
   						 </if> -->
			        	
					order by dt desc
	    
	</select>
	
</mapper>