<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMapper">
	
	<resultMap id="bookResult" type="Book">
		<result column="bk_no" property="bkNo" />
		<result column="emp_no" property="empNo" />
		<result column="rm_no" property="rmNo" />
		<result column="bk_person" property="bkPerson" />
		<result column="bk_title" property="bkTitle" />
		<result column="bk_meetdate" property="bkDate" />
		<result column="bk_start" property="bkStart" />
		<result column="bk_end" property="bkEnd" />
		<result column="bk_status" property="bkStatus"/>
		<collection property="room" resultMap="roomResult"/>
	</resultMap>
	
	<resultMap id="roomResult" type="Room">
		<result column="rm_no" property = "rmNo" />
		<result column="rm_name" property="rmName"/>
	</resultMap>
	
	<!-- 회의실 예약 등록 -->
	<!-- 작성자 : 박태은 -->
	<insert id="insertBook">
		insert
		  into tb_book
		  (
		    bk_no
		  , emp_no
		  , rm_no
		  , bk_person
		  , bk_title
		  , bk_meetdate
		  , bk_start
		  , bk_end
		  )
		  values
		  (
		  	seq_bkno.nextval
		  , #{ empNo }
		  , #{ rmNo }
		  , #{ bkPerson }
		  , #{ bkTitle }
		  , #{ bkDate }
		  , #{ bkStart }
		  , #{ bkEnd }
		  )
	</insert>
	
	<!-- 내 예약 건수(listCount) 조회 -->
	<!-- 작성자 : 박태은 -->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from tb_book
		 where emp_no = #{ empNo }
	</select>
	
	<!-- 내 예약 현황 목록 조회 -->
	<!-- 작성자 : 박태은 -->
 	<select id="selectBookList" resultMap="bookResult">
		select
		       bk_no
		     , rm_name
		     , bk_title
		     , bk_meetdate
		     , bk_start
		     , bk_end
		     , bk_status
		  from tb_book
		  join tb_room using(rm_no)
		 where emp_no = #{empNo}
		 order
		    by bk_meetdate desc
	</select> 
	
	<!-- 내 예약 상세조회 -->
	<!-- 작성자 : 박태은 -->
	<select id="selectBook" resultMap="bookResult">
		select
		       bk_no
		     , rm_name
		     , bk_title
		     , bk_meetdate
		     , bk_start
		     , bk_end
		     , bk_person
		  from tb_book
		  join tb_room using(rm_no)
		 where bk_no = #{ bkNo }
	</select>
	
	<!-- 회의실 예약 정보 수정 -->
	<!-- 작성자 : 박태은 -->
	<update id="updateBook">
		update
			   tb_book
		   set 
			    bk_person = #{ bkPerson }
			  , bk_title = #{ bkTitle }
			  , bk_meetdate = #{ bkDate }
			  , bk_start = #{ bkStart }
			  , bk_end = #{ bkEnd }
			  , bk_modify = current_date  
		  where bk_no = #{ bkNo }
	</update>
	
	<!-- 회의실 예약 취소 -->
	<!-- 작성자 : 박태은 -->
	<update id="deleteBook">
		update
			   tb_book
		   set 
		       bk_status = 'Y'
		     , bk_modify = current_date
		 where bk_no = #{ bkNo }
	</update>
	
	<!-- 전체 회의실 예약 목록 조회 -->
	<select id="selectAllBookList" resultMap="bookResult">
		select
	           bk_no
	         , rm_no 
		     , rm_name
		     , bk_title
		     , bk_meetdate
		     , bk_start
		     , bk_end
		     , bk_person
		  from tb_book
		  join tb_room using(rm_no)
		 order
		    by bk_meetdate asc
	</select>
	
	<!-- 회의실 목록 조회 -->
	<!-- 작성자 : 박태은 -->
	<select id="selectRoomList" resultMap="roomResult">
		select
		       rm_no
		     , rm_name
		  from tb_room
		 order
		    by rm_no asc
	</select>
	

</mapper>
