<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dutyMapper">

	<resultMap id="dutyResult" type="Duty">
		<result column="DUTY_NO" property="dutyNo" />
		<result column="EMP_NO" property="empNo" />
		<result column="CALENDAR_YN" property="calendarYN" />
		<result column="IMPORTANCE" property="importance" />
		<result column="PROGRESS" property="progress" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="STATUS" property="status" />
		<result column="EMP_NAME" property="empName" />
		<result column="FILE_ORIGIN_NAME" property="fileOriginName"/>
		<result column="FILE_PATH" property="filePath"/>
	</resultMap>
	
	<resultMap id="dutyChargeResult" type="DutyCharge">
		<result column="DUTY_NO" property="dutyNo"></result>
		<result column="EMP_NO" property="empICNo"></result>
		<result column="EMP_NAME" property="empICName"></result>
	</resultMap>

	<insert id="insertDuty">
 		INSERT
		  INTO TB_DUTY
		VALUES
		     (
		       SEQ_DNO.NEXTVAL
		     , #{empNo}
		     , #{empName}
		     , #{calendarYN}
		     , #{importance}
		     , #{progress}
		     , #{title}
		     , #{content}
		     , DEFAULT
		     , #{startDate}
		     , #{endDate}
		     , 'Y'
		     ,#{filePath}
		     ) 
	</insert>
	
	<!-- TB_DUTY_CHARGE 테이블에도 담당자 정보 INSERT 해야함 -->
	<insert id="insertDutyCharge">
		INSERT
		  INTO TB_DUTY_CHARGE
		VALUES
			 (
			   SEQ_DNO.CURRVAL
			 , #{empICNo}
			 , #{empICName}
			 )
	</insert>
	
	<!-- 게시글 작성시 파일 업로드하는 경우 -->
	<insert id="insertFile">
		INSERT
		  INTO TB_FILE
		VALUES
			 (
			   SEQ_FILENO.NEXTVAL
			 , SEQ_DNO.CURRVAL <!-- 게시글작성과 동시에 파일 업로드 -->
			 , 1
			 , #{fileOriginName}
			 , #{fileChangeName}
			 , #{filePath}
			 , DEFAULT
			 , NULL
			 , 'Y'
			 )
	</insert>
	
	<!-- 게시글 수정에서 최초로 파일 업로드하는 경우 -->
	<insert id="insertDutyFile">
		INSERT
		  INTO TB_FILE
		VALUES
			 (
			   SEQ_FILENO.NEXTVAL
			 , #{refNo} <!-- 게시글수정에서 최초 파일 업로드 -->
			 , 1
			 , #{fileOriginName}
			 , #{fileChangeName}
			 , #{filePath}
			 , DEFAULT
			 , NULL
			 , 'Y'
			 )
	</insert>
	
	<select id="selectDutyListCount" resultType="_int">
		SELECT COUNT(COUNT(*))
		  FROM TB_DUTY D
		  JOIN TB_DUTY_CHARGE DC
		 USING (DUTY_NO)
		 WHERE STATUS = 'Y'
		 <choose>
		 	<when test="value == 'enroll'">
		 	AND D.EMP_NO = #{empNo}
		 	</when>
		 	<when test="value == 'incharge'">
		 	AND DC.EMP_NO = #{empNo}
		 	</when>
		 	<when test="value == 'notDone'">
		 	AND DUTY_NO NOT IN ${dutyNo}
		 	</when>
		 	<when test="progress != null and progress != '전체'">
			 	AND PROGRESS = #{progress}
 			AND TITLE LIKE #{title}
		 	</when>
		 	<when test="progress == '전체'">
 			AND TITLE LIKE #{title}
		 	</when>
		 	<otherwise>
			AND D.EMP_NO = #{empNo}
		    OR DC.EMP_NO = #{empNo}
		 	</otherwise>
		 </choose>
         GROUP BY DUTY_NO
	</select>
	
	<select id="selectDutyList" resultMap="dutyResult">
		SELECT A.*
			 , D.CONTENT
		  FROM (
		  		SELECT DISTINCT
					   D.DUTY_NO AS "DUTY_NO"
					 , D.EMP_NO AS "EMP_NO" <!-- 작성자 사번 -->
					 , D.EMP_NAME AS "EMP_NAME" <!-- 작성자 이름 -->
					 , CALENDAR_YN
					 , IMPORTANCE
					 , PROGRESS
					 , TITLE
					 , ENROLL_DATE
					 , START_DATE
					 , END_DATE
					 , STATUS
				  FROM TB_DUTY D
				  JOIN TB_DUTY_CHARGE DC
				 	ON D.DUTY_NO = DC.DUTY_NO
				 WHERE STATUS = 'Y'
				   AND D.EMP_NO = #{ empNo }
				    OR DC.EMP_NO = #{ empNo }
				 ORDER
				 	BY D.DUTY_NO DESC
		 	   ) A
			JOIN TB_DUTY D
			  ON A.DUTY_NO = D.DUTY_NO	 
		   WHERE D.STATUS = 'Y'
		   ORDER BY D.DUTY_NO DESC
	</select>
	
	<select id="selectDutyChargeList" resultMap="dutyChargeResult">
		SELECT 
			   DC.DUTY_NO AS "DUTY_NO"
			 , DC.EMP_NO AS "EMP_NO" <!-- 담당자 사번 -->
			 , DC.EMP_NAME AS "EMP_NAME"
		  FROM TB_DUTY_CHARGE DC
		  JOIN TB_DUTY D
		    ON DC.DUTY_NO = D.DUTY_NO
		 WHERE DC.DUTY_NO = #{dutyNo}
   		 ORDER
		 	BY DUTY_NO DESC
	</select>
	
	<!-- 충격사실 -->
	<!-- #{} : 변수를 문자열""로 묶어줌 => #{} 안의 모든 내용은 문자열 취급됨 -->
	<!-- ${} : 변수를 따로 가공하지 않고 원래 형태 그대로 보냄 => 숫자로 전달하거나 문자열이 아닌 특정한 표현이 필요하면 유용 
															  	  (단, 문자열을 넘길 때는 ""를 누락한 것이 되니 절대 쓰지 말 것!) -->
	<!-- 위의 경우에는, IN (숫자, 숫자, 숫자)가 필요한 경우라서 #{}로 묶으면 그냥 괄호가 있는 문자열 취급되어 오류 발생, ${} 써야하는 경우임 -->
	
	
	<select id="selectMyList" resultMap="dutyResult">
		SELECT A.*
			 , D.CONTENT
		  FROM (
		  		SELECT DISTINCT
					   D.DUTY_NO AS "DUTY_NO"
					 , D.EMP_NO AS "EMP_NO" <!-- 작성자 사번 -->
					 , D.EMP_NAME AS "EMP_NAME" <!-- 작성자 이름 -->
					 , CALENDAR_YN
					 , IMPORTANCE
					 , PROGRESS
					 , TITLE
					 , ENROLL_DATE
					 , START_DATE
					 , END_DATE
					 , STATUS
				  FROM TB_DUTY D
				  JOIN TB_DUTY_CHARGE DC
				 	ON D.DUTY_NO = DC.DUTY_NO
				 WHERE STATUS = 'Y'
		 	<choose>
		 		<when test="value == 'incharge'">
		 		AND DC.EMP_NO = #{empNo}
		 		</when>
		 		<when test="value == 'enroll'">
				AND D.EMP_NO = #{empNo}
		 		</when>
		 		<otherwise>
				AND D.EMP_NO = #{empNo}
				OR DC.EMP_NO = #{empNo}
		 		</otherwise>
		 	</choose>
		 	   ) A
			JOIN TB_DUTY D
		   ON A.DUTY_NO = D.DUTY_NO
			 <choose>
				<when test="value == 'notDone'">
				WHERE D.DUTY_NO NOT IN ${dutyNo}
				</when>
				<when test="progress != null and progress != '전체'">
			 	WHERE A.PROGRESS = #{progress}
				AND A.TITLE LIKE #{title}
				</when>
				<when test="progress == '전체'">
				WHERE A.TITLE LIKE #{title}
				</when>
				<otherwise/>
			</choose>
		   ORDER
		      BY D.DUTY_NO DESC
	</select>
	
	
	<select id="selectDuty" resultMap="dutyResult">
		SELECT
			   DUTY_NO
			 , EMP_NO
			 , EMP_NAME
			 , CALENDAR_YN
			 , IMPORTANCE
			 , PROGRESS
			 , TITLE
			 , CONTENT
			 , ENROLL_DATE
			 , START_DATE
			 , END_DATE
			 , STATUS
			 , FILE_PATH
		  FROM TB_DUTY
		 WHERE DUTY_NO = #{dutyNo}
		   AND STATUS = 'Y'
	</select>
	
	<select id="selectDutyCharge" resultMap="dutyChargeResult">
		SELECT
			   EMP_NO
			 , EMP_NAME
		  FROM TB_DUTY_CHARGE 
		 WHERE DUTY_NO = #{dutyNo}
	</select>
	
	<update id="updateDuty">
		UPDATE TB_DUTY
		   SET CALENDAR_YN = #{calendarYN}
		     , IMPORTANCE = #{importance}
		     , PROGRESS = #{progress}
		     , TITLE = #{title}
		     , CONTENT = #{content}
		     , START_DATE = #{startDate}
		     , END_DATE = #{endDate}
		  <if test="filePath != null">
		  	 , FILE_PATH = #{filePath} 
		  </if>
	     WHERE DUTY_NO = #{dutyNo}
	</update>
	
	<update id="deleteDutyCharge">
		DELETE
		  FROM TB_DUTY_CHARGE
		 WHERE DUTY_NO = #{dutyNo}
	</update>
	
	<insert id="updateDutyCharge">
		INSERT 
		  INTO TB_DUTY_CHARGE
		VALUES
			 (
			   #{dutyNo}
			 , #{empICNo}
			 , #{empICName}
			 )
	</insert>
	
	<update id="updateDutyFile">
		UPDATE TB_FILE
		   SET FILE_ORIGIN_NAME = #{fileOriginName}
		  	 , FILE_CHANGE_NAME = #{fileChangeName}
		  	 , FILE_PATH = #{filePath}
		  	 , FILE_UPLOAD_DATE = CURRENT_DATE
	  	 WHERE FILE_REF_NO = #{refNo}
	  	   AND FILE_CATEGORY = 1
	</update>
	
	<delete id="deleteDutyComment">
		DELETE
		  FROM TB_COMMENT
		 WHERE COM_TYPE = 1
		   AND COM_REF_BNO = #{dutyNo}
	</delete>
	
	<update id="deleteDutyFile">
		UPDATE TB_FILE
		   SET FILE_STATUS = 'N'
		 WHERE FILE_CATEGORY = 1
		   AND FILE_REF_NO = #{dutyNo}
	</update>
	
	<update id="deleteDuty">
		UPDATE TB_DUTY
		   SET STATUS = 'N'
		 WHERE DUTY_NO = #{dutyNo}
	</update>
	
</mapper>
