<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dutyMapper">

	<resultMap id="dutyResult" type="Duty">
		<result column="DUTY_NO" property="dutyNo" />
		<result column="EMP_NO" property="empNo" />
		<result column="CALENDAR_YN" property="calendarYN" />
		<result column="IMPORTANCE" property="importance" />
		<result column="PROGRESS" property="progress" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="STATUS" property="status" />
		<result column="EMP_NAME" property="empName" />
	</resultMap>
	
	<resultMap id="dutyChargeResult" type="DutyCharge">
		<result column="DUTY_NO" property="dutyNo"></result>
		<result column="EMP_NO" property="empICNo"></result>
		<result column="EMP_NAME" property="empICName"></result>
	</resultMap>

	<insert id="insertDuty">
 		INSERT
		  INTO TB_DUTY
		VALUES
		     (
		       SEQ_DNO.NEXTVAL
		     , #{empNo}
		     , #{calendarYN}
		     , #{importance}
		     , #{progress}
		     , #{title}
		     , #{content}
		     , DEFAULT
		     , #{startDate}
		     , #{endDate}
		     , 'Y'
		     , #{dutyName}
		     ) 
	</insert>
	
	<!-- TB_DUTY_CHARGE 테이블에도 담당자 정보 INSERT 해야함 -->
	<insert id="insertDutyCharge">
		INSERT
		  INTO TB_DUTY_CHARGE
		VALUES
			 (
			   SEQ_DNO.CURRVAL
			 , #{empNo}
			 , #{empName}
			 )
			 
	</insert>
	
	<insert id="insertFile">
		INSERT
		  INTO TB_FILE
		VALUES
			 (
			   SEQ_FILENO.NEXTVAL
			 , SEQ_DNO.CURRVAL
			 , 1
			 , #{fileOriginName}
			 , #{fileChangeName}
			 , #{filePath}
			 , DEFAULT
			 , NULL
			 , 'Y'
			 )
	</insert>
	
	<select id="selectDutyListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_DUTY D
		  JOIN TB_DUTY_CHARGE DC
		 USING (DUTY_NO)
		 WHERE STATUS = 'Y'
		   AND D.EMP_NO = #{empNo}
		    OR DC.EMP_NO = #{empNo}
	</select>
	
	<select id="selectDutyList" resultMap="dutyResult">
		SELECT A.*
			 , D.CONTENT
		  FROM (
		  		SELECT DISTINCT
					   D.DUTY_NO AS "DUTY_NO"
					 , D.EMP_NO AS "EMP_NO" <!-- 작성자 사번 -->
					 , D.EMP_NAME AS "EMP_NAME" <!-- 작성자 이름 -->
					 , CALENDAR_YN
					 , IMPORTANCE
					 , PROGRESS
					 , TITLE
					 , ENROLL_DATE
					 , START_DATE
					 , END_DATE
					 , STATUS
				  FROM TB_DUTY D
				  JOIN TB_DUTY_CHARGE DC
				 	ON D.DUTY_NO = DC.DUTY_NO
				 WHERE STATUS = 'Y'
				   AND D.EMP_NO = #{ empNo }
				    OR DC.EMP_NO = #{ empNo }
				 ORDER
				 	BY D.DUTY_NO DESC
		 	   ) A
			JOIN TB_DUTY D
			  ON A.DUTY_NO = D.DUTY_NO	 
	</select>
	
	<select id="selectDutyChargeList" resultMap="dutyChargeResult">
		SELECT 
			   DC.DUTY_NO AS "DUTY_NO"
			 , DC.EMP_NO AS "EMP_NO" <!-- 담당자 사번 -->
			 , DC.EMP_NAME AS "EMP_NAME"
		  FROM TB_DUTY_CHARGE DC
		  JOIN TB_DUTY D
		    ON DC.DUTY_NO = D.DUTY_NO
		 WHERE DC.DUTY_NO = #{dutyNo}
   		 ORDER
		 	BY DUTY_NO DESC
	</select>
	
	<select id="selectDuty" resultMap="dutyResult">
		SELECT
			   DUTY_NO
			 , EMP_NO
			 , EMP_NAME
			 , CALENDAR_YN
			 , IMPORTANCE
			 , PROGRESS
			 , TITLE
			 , CONTENT
			 , ENROLL_DATE
			 , START_DATE
			 , END_DATE
			 , STATUS
		  FROM TB_DUTY
		 WHERE DUTY_NO = #{dutyNo}
		   AND STATUS = 'Y'
	</select>
	
	<select id="selectDutyCharge" resultMap="dutyChargeResult">
		SELECT
			   EMP_NO
			 , EMP_NAME
		  FROM TB_DUTY_CHARGE 
		 WHERE DUTY_NO = #{dutyNo}
	</select>
	
</mapper>
