<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mailMapper">

	<resultMap id="empResult" type="Employee">
		<result column="emp_no" property="empNo" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="emp_name" property="empName" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_extension" property="empExtension" />
		<result column="emp_email" property="empEmail" />
		<result column="emp_exemail" property="empExEmail" />
		<result column="emp_enrolldate" property="empEnrollDate" />
		<result column="emp_retiredate" property="empRetireDate" />
		<result column="emp_modifydate" property="empModifyDate" />
		<result column="emp_status" property="empStatus" />
		<result column="emp_profile" property="empProfile" />		
		<result column="emp_nt_admin" property="empNtAdmin" />
		<result column="dep_cd" property="depCd" />
		<result column="pos_cd" property="posCd" />	
		<result column="emp_sig_use" property="empSigUse" />		
	</resultMap>
	
	<resultMap id="mailResult" type="Mail">
		<result column="mail_no" property="mailNo"/>
		<result column="mail_title" property="mailTitle"/>
		<result column="mail_content" property="mailContent"/>
		<result column="mail_create_date" property="mailCreateDate"/>
		<result column="mail_important" property="mailImportant"/>
		<result column="mail_security" property="mailSecurity"/>
		<result column="mail_file" property="mailFile"/>
		<result column="mail_recipient" property="mailRecipient"/>
		<result column="mail_cc" property="mailCC"/>
		<result column="mail_sender" property="mailSender"/>
		<result column="mail_sender_name" property="mailSenderName"/>
		
		<result column="mail_email" property="mailEmail"/>
		<result column="mail_status" property="mailStatus"/>
		<result column="mail_category" property="mailCategory"/>
		<result column="mail_read" property="mailRead"/>
		<result column="mail_star" property="mailStar"/>
	</resultMap>
	
	<resultMap id="statusResult" type="MailStatus">
		<result column="mail_no" property="mailNo"/>
		<result column="mail_email" property="mailEmail"/>
		<result column="mail_status" property="mailStatus"/>
		<result column="mail_category" property="mailCategory"/>
		<result column="mail_read" property="mailRead"/>
		<result column="mail_star" property="mailStar"/>
	</resultMap>
	
	<resultMap id="sigResult" type="Signature">
		<result column="sig_no" property="sigNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="sig_name" property="sigName"/>
		<result column="sig_dep" property="sigDepartment"/>
		<result column="sig_position" property="sigPosition"/>
		<result column="sig_address" property="sigAddress"/>
		<result column="sig_extension" property="sigExtension"/>
		<result column="sig_tel" property="sigTel"/>
		<result column="sig_email" property="sigEmail"/>
		<result column="sig_status" property="sigStatus"/>
		<result column="sig_basic" property="sigBasic"/>
		<result column="rnum" property="rnum"/>
	</resultMap>
	
	<resultMap id="fileResult" type="File">
		<result column="file_no" property="fileNo"/>
		<result column="file_ref_no" property="refNo"/>
		<result column="file_category" property="fileCategory"/>
		<result column="file_origin_name" property="fileOriginName"/>
		<result column="file_change_name" property="fileChangeName"/>
		<result column="file_path" property="filePath"/>
		<result column="file_upload_date" property="fileUploadDate"/>
		<result column="file_level" property="fileLevel"/>
		<result column="file_status" property="fileStatus"/>		
	</resultMap>
	
	<!-- 등록된 서명 조회  -->
	<select id="selectSigList" resultMap="sigResult">
		SELECT ROWNUM RNUM, A.*
	      FROM (
	            SELECT  sig_no
	                  , emp_no		      
	                  , sig_name
	                  , sig_dep
	                  , sig_position
	                  , CASE WHEN sig_address = 'N' THEN ' '
	                    WHEN sig_address = 'Y' THEN '서울특별시 금천구 가산디지털2로 115'
	                    END "sig_address"
	                  , sig_extension  
	                  , sig_tel
	                  , sig_email
	                  , sig_basic
	              from  tb_signature 
	             where emp_no = #{empNo}
	               and sig_status = 'Y'
	             ) A             
	</select>
	
	<!-- 서명 삭제  -->
	<update id="deleteSig">
		update 
		        tb_signature 
		    set sig_status = 'N'
		  where sig_no =  #{sigNo}	
	</update>
	
	<!-- 기본서명 조회 -->
	<select id="selectSigBasic" resultMap="sigResult">
		    SELECT  sig_no
	              , emp_no		      
	              , sig_name
	              , sig_dep
	              , sig_position
	              , CASE WHEN sig_address = 'N' THEN ' '
	                WHEN sig_address = 'Y' THEN '서울특별시 금천구 가산디지털2로 115'
	                END "sig_address"
	              , sig_extension  
	              , sig_tel
	              , sig_email
	              , sig_basic
	          from  tb_signature 
	         where emp_no = #{empNo}
	           and sig_status = 'Y'
	           and sig_basic = 'Y'
	</select>
			
	<!-- 기본서명 갯수 조회  -->
	<select id="selectBasicCount" resultType="_int">
		    SELECT count(*)
	          from tb_signature 
	         where emp_no = #{empNo}
	           and sig_status = 'Y'
	           and sig_basic = 'Y'
	</select>
	
	<!-- 기본설정된 서명이 없을 경우 실행 될 것  -->
	<!-- rnum 1인 서명이 자동으로 기본으로 될 것 -->	
	<update id="updateBasic">
	  update
             tb_signature
         set sig_basic = 'Y'
       where sig_no = ( 
                       select sig_no
                            from (
                                    (
                                     select *
                                       from (
                                          select ROWNUM RNUM, A.*
                                            from (
                                                  select  sig_no
                                                        , emp_no
                                                        , sig_basic
                                                    from  tb_signature 
                                                   where emp_no = #{empNo}
                                                     and sig_status = 'Y'
                                                   ) A
                                              )
                                        where  rnum = 1 
                                       ) 
                                   )
                        )
	
	</update>
	
	<!-- 서명등록 -->
	<insert id="insertSig">
		insert 
		  into tb_signature
		 	 (
			  	sig_no
	          , emp_no		      
	          , sig_name
	          , sig_dep
	          , sig_position
	          , sig_address           
	          , sig_extension  
	          , sig_tel
	          , sig_email          	  
		 	 )
			  values
			  (
			    SEQ_SIGNO.nextval
			  , #{empNo}
			  , #{sigName}
			  , #{sigDepartment}
			  , #{sigPosition}
			  , #{sigAddress}
			  , #{sigExtension}
			  , #{sigTel}
			  , #{sigEmail}
			  )		  
	</insert>
	
	<!-- 서명관리 -->
	<update id="updateSigUseManage">
		update 
			   tb_employee
		   set emp_sig_use = #{empSigUse}
		 where emp_no = #{empNo}	   	 		
	</update>
	
	<update id="updateSigBasicNo">
		update 
				tb_signature
		   set  sig_basic = 'N'
	</update>
	
	<update id="updateSigBasicManage">
		update 
				tb_signature
		   set  sig_basic = 'Y'
		 where  sig_no = #{sigNo} 		
	</update>	
	
	<insert id="insertMail">
		insert
		  into tb_mail
		  		(
			  		mail_no,
					mail_title,
					mail_content,
					mail_important,
					mail_security,
					mail_file,
					mail_recipient,
					mail_cc,
					mail_sender,
					mail_sender_name	
		  		)
		  values
		  		(
		  		    SEQ_MANO.nextval
		  		  , #{mailTitle} 
		  		  , #{mailContent} 
		  		  , #{mailImportant} 
		  		  , #{mailSecurity} 
		  		  , #{mailFile} 
		  		  , #{mailRecipient} 
		  		  , #{mailCC} 
		  		  , #{mailSender} 
		  		  , #{mailSenderName} 		
		  		)			  		
	</insert>
	
	<insert id="insertMailStatusRev">
		insert
		  into tb_mail_status
		  		 (
		  		   mail_no
		  		 , mail_email
		  		 , mail_category		  			
		 		  )
		   values
		  		 (
		  		   seq_mano.currval
		  		 , #{mailEmail}
		  		 , 'R'  
		  		 )	  
	</insert>
	<insert id="insertMailStatusCC">
		insert
		  into tb_mail_status
		  		 (
		  		   mail_no
		  		 , mail_email
		  		 , mail_category		  		 	
		 		  )
		   values
		  		 (
		  		   seq_mano.currval
		  		 , #{mailEmail}
		  		 , 'C'  
		  		 )	  
	</insert>
	<insert id="insertMailStatusSen">
		insert
		  into tb_mail_status
		  		 (
		  		   mail_no		  		 
		  		 , mail_category
		  		 , mail_read		
		 		  )
		   values
		  		 (
		  		   seq_mano.currval		  	
		  		 , 'S'  
		  		 , 'Y'
		  		 )	  
	</insert>
	
	<insert id="insertMailFile">
		insert
		  into  tb_file
		     (
		    	file_no
		      , file_ref_no
		      , file_category	
		      , file_origin_name
		      , file_change_name
		      , file_path		      
		   	 )		    
		values
		  	 (
		  	 	SEQ_FILENO.nextval
		  	  , seq_mano.currval
		  	  , 5
		  	  , #{fileOriginName}
		  	  , #{fileChangeName}
		  	  , #{filePath}		  	
		  	 )  		  
	</insert>
	
	<!-- 전체메일함 listCount -->
	<select id="selectListTotalCount" resultType="_int">
		 select count(*)               
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'R'
			         ) 
			        or 
			        (mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'Y' )
			        or
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'C'
			        )
		        )
	        <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	        </if>
	         <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose> 
	</select>
	
	<!-- 전체메일함 조회  -->
	<select id="selectListTotal" resultMap="mailResult">
		 select  
		        mail_no,
		        mail_title, 
		        to_char(mail_create_date, 'YYYY-MM-DD HH24:MI:SS') AS "mail_create_date", 		       
		        mail_important,
		        mail_security,
		        mail_file,		       
		        mail_sender_name,		        
		        mail_status,		      
		        mail_read,
		        mail_star,
		        mail_email,
		        mail_category        
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'R'
			         ) 
			        or 
			        (mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'Y' )
			        or
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'C'
			        )
		        )
		    <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>
			 <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose>  		       
		   order 
		      by  
		      <if test="orderEmail == 'orderDsec'">
		      	mail_create_date desc
		      </if>
		      <if test="orderEmail == 'orderAsc'">
		      	mail_create_date asc
		      </if>		       
	</select>
	
	<!-- 다중선택 메일 삭제  -->
	<update id="deleteEmailGroup" parameterType="java.util.HashMap">
		<foreach item="m" collection="list" index="index" open="DECLARE BEGIN" separator=";" close="; END;">		 	
			update 
				   tb_mail_status
			   set mail_status = 'N'
			 where
			 		mail_no = #{m.mailNo}
			 	<choose>
			 		<when test="m.mailEmail != 'undefined'">
					 	and	mail_email = #{m.mailEmail}	
			 		</when>
			 		<otherwise>
			 			and mail_email IS NULL
			 		</otherwise>
			 	</choose>
			 	and mail_category = #{m.mailCategory}						
		 </foreach>
	</update> 
	
	<!-- 다중선택 읽음표시  -->
	<update id="readEmailGroup" parameterType="java.util.HashMap">
		<foreach item="m" collection="list" index="index" open="DECLARE BEGIN" separator=";" close="; END;">		 	
			update 
				   tb_mail_status
			   set mail_read = 'Y'
			 where
			 		mail_no = #{m.mailNo}
			 	<choose>
			 		<when test="m.mailEmail != 'undefined'">
					 	and	mail_email = #{m.mailEmail}	
			 		</when>
			 		<otherwise>
			 			and mail_email IS NULL 
			 		</otherwise>
			 	</choose>
			 	and mail_category = #{m.mailCategory}						
		 </foreach>
	</update> 
	
	<!-- 다중선택 중요메일함 IN -->
	<update id="starOnEmailGroup" parameterType="java.util.HashMap">
		<foreach item="m" collection="list" index="index" open="DECLARE BEGIN" separator=";" close="; END;">		 	
			update 
				   tb_mail_status
			   set mail_star = 'Y'
			 where
			 		mail_no = #{m.mailNo}
			 	<choose>
			 		<when test="m.mailEmail != 'undefined'">
					 	and	mail_email = #{m.mailEmail}	
			 		</when>
			 		<otherwise>
			 			and mail_email IS NULL 
			 		</otherwise>
			 	</choose>
			 	and mail_category = #{m.mailCategory}						
		 </foreach>
	</update> 
	
	<!-- 다중선택 중요메일함 OUT -->
	<update id="starOffEmailGroup" parameterType="java.util.HashMap">
		<foreach item="m" collection="list" index="index" open="DECLARE BEGIN" separator=";" close="; END;">		 	
			update 
				   tb_mail_status
			   set mail_star = 'N'
			 where
			 		mail_no = #{m.mailNo}
			 	<choose>
			 		<when test="m.mailEmail != 'undefined'">
					 	and	mail_email = #{m.mailEmail}	
			 		</when>
			 		<otherwise>
			 			and mail_email IS NULL 
			 		</otherwise>
			 	</choose>
			 	and mail_category = #{m.mailCategory}						
		 </foreach>
	</update> 
	
	<!-- 다중선택 완전삭제 -->
	<update id="deleteFix" parameterType="java.util.HashMap">
		<foreach item="m" collection="list" index="index" open="DECLARE BEGIN" separator=";" close="; END;">		 	
			delete 
			  from tb_mail_status
			 where
			 	   mail_no = #{m.mailNo}
			 	<choose>
			 		<when test="m.mailEmail != 'undefined'">
					 	and	mail_email = #{m.mailEmail}	
			 		</when>
			 		<otherwise>
			 			and mail_email IS NULL 
			 		</otherwise>
			 	</choose>
			 	and mail_category = #{m.mailCategory}						
		 </foreach>
	</update> 
	
	<!-- 다중선택 메일 복구  -->
	<update id="updateMailY" parameterType="java.util.HashMap">
		<foreach item="m" collection="list" index="index" open="DECLARE BEGIN" separator=";" close="; END;">		 	
			update 
				   tb_mail_status
			   set mail_status = 'Y'
			 where
			 		mail_no = #{m.mailNo}
			 	<choose>
			 		<when test="m.mailEmail != 'undefined'">
					 	and	mail_email = #{m.mailEmail}	
			 		</when>
			 		<otherwise>
			 			and mail_email IS NULL
			 		</otherwise>
			 	</choose>
			 	and mail_category = #{m.mailCategory}						
		 </foreach>
	</update> 
	
	<!-- 상세페이지 -->
	<select id="selectMailDetail" resultMap="mailResult">
		  select  
		        mail_no,
		        mail_title, 
		        NVL(mail_content,'내용 : ') as "mail_content",
		        to_char(mail_create_date, 'YYYY-MM-DD HH24:MI:SS') AS "mail_create_date", 		       
		        mail_important,
		        mail_security,
		        mail_file,
		        mail_recipient,
		        mail_cc,
		        mail_sender,		       
		        mail_sender_name  
		   from tb_mail		  
		   where 
		        mail_no = #{no}			
	</select>
	
	<!-- 상세페이지 클릭 시 읽음으로 전환  -->
	<update id="mailReadUpdate">
		update 
			   tb_mail_status
		   set mail_read = 'Y'
		 where mail_email = #{mailEmail}
		   and mail_no = #{mailNo}
	</update>
	
	<!-- 상세페이지 > 파일  -->
	<select id="selectFileDetail" resultMap="fileResult">
		select  file_no
              , file_origin_name
              , file_change_name
              , file_path                     
         from tb_file
         where file_ref_no = #{mailNo}
         and file_category = 5
	</select>
	
	<!-- 받은메일함 listCount -->
	<select id="selectListReceiveCount" resultType="_int">
		 select count(*)               
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'R'
			         ) 
			        or 			       
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'C'
			        )	         
		        )
	        <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	        </if>
	         <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose> 
	</select>
	
	<!-- 받은메일함 조회  -->
	<select id="selectListReceive" resultMap="mailResult">
		 select  
		        mail_no,
		        mail_title, 
		        to_char(mail_create_date, 'YYYY-MM-DD HH24:MI:SS') AS "mail_create_date", 		       
		        mail_important,
		        mail_security,
		        mail_file,		       
		        mail_sender_name,		        
		        mail_status,		      
		        mail_read,
		        mail_star,
		        mail_email,
		        mail_category        
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'R'
			         ) 
			        or 			       
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'C'
			        )				         
		        )
		    <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>
			 <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose>  		       
		   order 
		      by  
		      <if test="orderEmail == 'orderDsec'">
		      	mail_create_date desc
		      </if>
		      <if test="orderEmail == 'orderAsc'">
		      	mail_create_date asc
		      </if>		       
	</select>
	
	<!-- 보낸메일함 listCount -->
	<select id="selectListSendCount" resultType="_int">
		 select count(*)               
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (			        
			        mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'Y' 			     
		        )
	        <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	        </if>
	         <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose> 
	</select>
	
	<!-- 보낸메일함 조회  -->
	<select id="selectListSend" resultMap="mailResult">
		 select  
		        mail_no,
		        mail_title, 
		        to_char(mail_create_date, 'YYYY-MM-DD HH24:MI:SS') AS "mail_create_date", 		       
		        mail_important,
		        mail_security,
		        mail_file,		       
		        mail_sender_name,		        
		        mail_status,		      
		        mail_read,
		        mail_star,
		        mail_email,
		        mail_category        
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		         (			        
			        mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'Y' 			     
		        )
		    <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>
			 <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose>  		       
		   order 
		      by  
		      <if test="orderEmail == 'orderDsec'">
		      	mail_create_date desc
		      </if>
		      <if test="orderEmail == 'orderAsc'">
		      	mail_create_date asc
		      </if>		       
	</select>
	
	<!-- 휴지통 listCount -->
	<select id="selectListBinCount" resultType="_int">
		 select count(*)               
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (mail_email = #{email}
			         and mail_status = 'N'
			         and mail_category = 'R'
			         ) 
			        or 
			        (mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'N' )
			        or
			        (
			         mail_email = #{email}
			         and mail_status = 'N'
			         and mail_category = 'C'
			        )
		        )
	        <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	        </if>
	         <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose> 
	</select>
	
	<!-- 휴지통 조회  -->
	<select id="selectListBin" resultMap="mailResult">
		 select  
		        mail_no,
		        mail_title, 
		        to_char(mail_create_date, 'YYYY-MM-DD HH24:MI:SS') AS "mail_create_date", 		       
		        mail_important,
		        mail_security,
		        mail_file,		       
		        mail_sender_name,		        
		        mail_status,		      
		        mail_read,
		        mail_star,
		        mail_email,
		        mail_category        
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (mail_email = #{email}
			         and mail_status = 'N'
			         and mail_category = 'R'
			         ) 
			        or 
			        (mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'N' )
			        or
			        (
			         mail_email = #{email}
			         and mail_status = 'N'
			         and mail_category = 'C'
			        )
		        )
		    <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>
			 <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose>  		       
		   order 
		      by  
		      <if test="orderEmail == 'orderDsec'">
		      	mail_create_date desc
		      </if>
		      <if test="orderEmail == 'orderAsc'">
		      	mail_create_date asc
		      </if>		       
	</select>
	
	<!-- 중요메일함 listCount -->
	<select id="selectListStarCount" resultType="_int">
		 select count(*)               
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'R'
			         and mail_star = 'Y'
			         ) 
			        or 
			        (
			        mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'Y'
			        and mail_star = 'Y'
			         )
			        or
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'C'
			         and mail_star = 'Y'
			        )
		        )
	        <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	        </if>
	         <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose> 
	</select>
	
	<!-- 중요메일함 조회  -->
	<select id="selectListStar" resultMap="mailResult">
		 select  
		        mail_no,
		        mail_title, 
		        to_char(mail_create_date, 'YYYY-MM-DD HH24:MI:SS') AS "mail_create_date", 		       
		        mail_important,
		        mail_security,
		        mail_file,		       
		        mail_sender_name,		        
		        mail_status,		      
		        mail_read,
		        mail_star,
		        mail_email,
		        mail_category        
		   from tb_mail
		   join tb_mail_status using(mail_no)
		   where 
		        (
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'R'
			         and mail_star = 'Y'
			         ) 
			        or 
			        (
			        mail_sender = #{email}    
			        and mail_category = 'S'     
			        and mail_status = 'Y'
			        and mail_star = 'Y'
			         )
			        or
			        (
			         mail_email = #{email}
			         and mail_status = 'Y'
			         and mail_category = 'C'
			         and mail_star = 'Y'
			        )
		        )
		    <if test="keyword != null">
	        	<if test="searchCategory == 'mailSenderName'">
				   and mail_sender_name
				</if>
				<if test="searchCategory == 'mailTitle'">
				   and mail_title
				</if>
				<if test="searchCategory == 'mailContent'">
				   and mail_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>
			 <choose>
			 	<when test="filter == '6months'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 6
			 	</when>
			 	<when test="filter == '1month'">
			 		and months_between(sysdate, mail_create_date) <![CDATA[ <= ]]> 1
			 	</when>			 	
			 	<when test="filter == '1week'">
			 		and floor(sysdate - mail_create_date) <![CDATA[ <= ]]> 7
			 	</when>
			 	<otherwise>
			 		 and mail_no > 0
			 	</otherwise>			 	
			 </choose>  		       
		   order 
		      by  
		      <if test="orderEmail == 'orderDsec'">
		      	mail_create_date desc
		      </if>
		      <if test="orderEmail == 'orderAsc'">
		      	mail_create_date asc
		      </if>		       
	</select>
	
	
	

</mapper>