<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="empResult" type="Employee">
		<result column="emp_no" property="empNo" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="emp_name" property="empName" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_extension" property="empExtension" />
		<result column="emp_email" property="empEmail" />
		<result column="emp_exemail" property="empExEmail" />
		<result column="emp_enrolldate" property="empEnrollDate" />
		<result column="emp_retiredate" property="empRetireDate" />
		<result column="emp_modifydate" property="empModifyDate" />
		<result column="emp_status" property="empStatus" />
		<result column="emp_profile" property="empProfile" />		
		<result column="emp_nt_admin" property="empNtAdmin" />
		<result column="dep_cd" property="depCd" />
		<result column="pos_cd" property="posCd" />	
		<result column="emp_sig_use" property="empSigUse" />		
	</resultMap>
	
	<resultMap id="noticeCommentResult" type="NoticeComment">
		<result column="ncom_no" property="nCommetNo"/>
		<result column="nt_no" property="noticeNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="emp_id" property="empId"/>
		<result column="ncom_content" property="nCommentContent"/>
		<result column="ncom_create_date" property="createDate"/>
		<result column="ncom_modify_date" property="modifyDate"/>
		<result column="ncom_parent_no" property="nCommentParentNo"/>
		<result column="ncom_status" property="nCommentStatus"/>
	</resultMap>
	
	<resultMap id="noticeResult" type="Notice">
		<result column="nt_no" property="noticeNo"/>
		<result column="nt_title" property="noticeTitle"/>
		<result column="nt_content" property="noticeContent"/>
		<result column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName" /> 
		<result column="nt_status" property="noticeStatus"/>
		<result column="nt_count" property="noticeCount"/>
		<result column="nt_important" property="noticeImportant"/>
		<result column="nt_top" property="noticeTop"/>
		<result column="nt_create_date" property="noticeCreateDate"/>
		<result column="nt_modify_date" property="noticeModifyDate"/>
		<result column="nt_file" property="noticeFile"/>
	</resultMap>
	
	<!-- 추가관리자 조회  -->
	<select id="selectNtAdminY" resultMap="empResult">
		  select 
		          emp_no
		        , emp_Id		       
		        , emp_name
		        , emp_nt_admin
		        , dep_name as dep_cd		        		       	      
		    from tb_employee
		    join tb_department using(dep_cd)		  
		   where emp_nt_admin = 'Y'
		     and emp_status = 'Y'
		   order 
		   	  by dep_cd asc	
	</select>
	
	<!-- NtAdmin => 'N' -->
	<update id="upDateAdminN">
		update 
				tb_employee
		   set  emp_nt_admin = 'N'
		 where  emp_no = #{empNo}    		
	</update>
	
	<!-- NtAdmin => 'Y' -->
	<update id="updateAdminY">
		update
		       tb_employee
		   set emp_nt_admin = 'Y'  
		<where>
			<foreach item="empNo" collection="arrEmp" open="emp_no in (" separator="," close=")">
				#{empNo}
			</foreach>
		</where>   	
	</update>
	
	<!-- 상단 공지사항 조회용 -->
	<!-- 1-1 상단 공지사항 갯수 -->
	<select id="selectTopNoticeCount" resultType="_int">
		   select  count(*)
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'T'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	            
	</select>
	
	<!-- 공지사항 top list  -->
	<select id="selectTopNotice" resultMap="noticeResult">
		   select  nt_no
                 , nt_title
                 , nt_content
                 , emp_no
                 , emp_name
                 , nt_count
                 , nt_important
                 , nt_top
                 , to_char(nt_create_date, 'YYYY-MM-DD') AS "nt_create_date"
                 , nt_file
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'T'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	
            order 
               by 
               <choose>
               		<when test="orderNotice == 'createDesc'">
		                 nt_create_date desc  
               		</when>
               		<otherwise>
		                 nt_count desc
               		</otherwise>
               </choose>
	</select>
	
	
	<!-- 일반 공지사항 조회용 -->
	<!-- 1-1 일반 공지사항 갯수 -->
	<select id="selectNormalNoticeCount" resultType="_int">
		   select  count(*)
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'N'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	            
	</select>
	
	<!-- 공지사항 일반 list  -->
	<select id="selectNormalNotice" resultMap="noticeResult">
		   select  nt_no
                 , nt_title
                 , nt_content
                 , emp_no
                 , emp_name
                 , nt_count
                 , nt_important
                 , nt_top
                 , to_char(nt_create_date, 'YYYY-MM-DD') AS "nt_create_date"
                 , nt_file
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'N'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	
            order 
               by 
               <choose>
               		<when test="orderNotice == 'createDesc'">
		                 nt_create_date desc  
               		</when>
               		<otherwise>
		                 nt_count desc
               		</otherwise>
               </choose>
	</select>
	
	
	
	
	
</mapper>