<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="empResult" type="Employee">
		<result column="emp_no" property="empNo" />
		<result column="emp_id" property="empId" />
		<result column="emp_pwd" property="empPwd" />
		<result column="emp_name" property="empName" />
		<result column="emp_phone" property="empPhone" />
		<result column="emp_extension" property="empExtension" />
		<result column="emp_email" property="empEmail" />
		<result column="emp_exemail" property="empExEmail" />
		<result column="emp_enrolldate" property="empEnrollDate" />
		<result column="emp_retiredate" property="empRetireDate" />
		<result column="emp_modifydate" property="empModifyDate" />
		<result column="emp_status" property="empStatus" />
		<result column="emp_profile" property="empProfile" />		
		<result column="emp_nt_admin" property="empNtAdmin" />
		<result column="dep_cd" property="depCd" />
		<result column="pos_cd" property="posCd" />	
		<result column="emp_sig_use" property="empSigUse" />		
	</resultMap>
	
	<resultMap id="noticeCommentResult" type="NoticeComment">
		<result column="ncom_no" property="nCommentNo"/>
		<result column="nt_no" property="noticeNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="emp_id" property="empId"/>
		<result column="emp_profile" property="empProfile" />
		<result column="ncom_content" property="nCommentContent"/>
		<result column="ncom_create_date" property="createDate"/>
		<result column="ncom_modify_date" property="modifyDate"/>
		<result column="ncom_parent_no" property="nCommentParentNo"/>
		<result column="ncom_status" property="nCommentStatus"/>
		<result column="level" property="level"/>
	</resultMap>
	
	<resultMap id="noticeResult" type="Notice">
		<result column="nt_no" property="noticeNo"/>
		<result column="nt_title" property="noticeTitle"/>
		<result column="nt_content" property="noticeContent"/>
		<result column="emp_no" property="empNo"/>
		<result column="emp_name" property="empName" /> 
		<result column="nt_status" property="noticeStatus"/>
		<result column="nt_count" property="noticeCount"/>
		<result column="nt_important" property="noticeImportant"/>
		<result column="nt_top" property="noticeTop"/>
		<result column="nt_create_date" property="noticeCreateDate"/>
		<result column="nt_modify_date" property="noticeModifyDate"/>
		<result column="nt_file" property="noticeFile"/>
	</resultMap>
	
	<resultMap id="fileResult" type="File">
		<result column="file_no" property="fileNo"/>
		<result column="file_ref_no" property="refNo"/>
		<result column="file_category" property="fileCategory"/>
		<result column="file_origin_name" property="fileOriginName"/>
		<result column="file_change_name" property="fileChangeName"/>
		<result column="file_path" property="filePath"/>
		<result column="file_upload_date" property="fileUploadDate"/>
		<result column="file_level" property="fileLevel"/>
		<result column="file_status" property="fileStatus"/>		
	</resultMap>
	
	<!-- 추가관리자 조회  -->
	<select id="selectNtAdminY" resultMap="empResult">
		  select 
		          emp_no
		        , emp_Id		       
		        , emp_name
		        , emp_nt_admin
		        , dep_name as dep_cd		        		       	      
		    from tb_employee
		    join tb_department using(dep_cd)		  
		   where emp_nt_admin = 'Y'
		     and emp_status = 'Y'
		   order 
		   	  by dep_cd asc	
	</select>
	
	<!-- NtAdmin => 'N' -->
	<update id="upDateAdminN">
		update 
				tb_employee
		   set  emp_nt_admin = 'N'
		 where  emp_no = #{empNo}    		
	</update>
	
	<!-- NtAdmin => 'Y' -->
	<update id="updateAdminY">
		update
		       tb_employee
		   set emp_nt_admin = 'Y'  
		<where>
			<foreach item="empNo" collection="arrEmp" open="emp_no in (" separator="," close=")">
				#{empNo}
			</foreach>
		</where>   	
	</update>
	
	<!-- 상단 공지사항 조회용 -->
	<!-- 1-1 상단 공지사항 갯수 -->
	<select id="selectTopNoticeCount" resultType="_int">
		   select  count(*)
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'T'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	            
	</select>
	
	<!-- 공지사항 top list  -->
	<select id="selectTopNotice" resultMap="noticeResult">
		   select  nt_no
                 , nt_title
                 , nt_content
                 , emp_no
                 , emp_name
                 , nt_count
                 , nt_important
                 , nt_top
                 , to_char(nt_create_date, 'YYYY-MM-DD') AS "nt_create_date"
                 , nt_file
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'T'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	
            order 
               by 
               <choose>
               		<when test="orderNotice == 'createDesc'">
		                 nt_create_date desc  
               		</when>
               		<otherwise>
		                 nt_count desc
               		</otherwise>
               </choose>
	</select>
	
	
	<!-- 일반 공지사항 조회용 -->
	<!-- 1-1 일반 공지사항 갯수 -->
	<select id="selectNormalNoticeCount" resultType="_int">
		   select  count(*)
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'N'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	            
	</select>
	
	<!-- 공지사항 일반 list  -->
	<select id="selectNormalNotice" resultMap="noticeResult">
		   select  nt_no
                 , nt_title
                 , nt_content
                 , emp_no
                 , emp_name
                 , nt_count
                 , nt_important
                 , nt_top
                 , to_char(nt_create_date, 'YYYY-MM-DD') AS "nt_create_date"
                 , nt_file
             from  tb_notice             
            where  nt_status = 'Y'   
              and  nt_top = 'N'
              <if test="keyword != null">
	        	<if test="searchCategory == 'noticeTitle'">
				   and nt_title
				</if>
				<if test="searchCategory == 'writer'">
				   and emp_name
				</if>
				<if test="searchCategory == 'noticeContent'">
				   and nt_content
				</if> 
				  like '%' || #{keyword} || '%'
	         </if>   
	         <choose>
	         	<when test="filter == 'periodTotal'">
	         		and nt_no is not null
	         	</when>
	         	<when test="filter == '6months'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 6
	         	</when>
	         	<when test="filter == '1month'">
	         		and months_between(sysdate, nt_create_date) <![CDATA[ <= ]]> 1
	         	</when>
	         	<otherwise>
	         		and floor(sysdate - nt_create_date) <![CDATA[ <= ]]> 7
	         	</otherwise>
	         </choose>	
            order 
               by 
               <choose>
               		<when test="orderNotice == 'createDesc'">
		                 nt_create_date desc  
               		</when>
               		<otherwise>
		                 nt_count desc
               		</otherwise>
               </choose>
	</select>
	
	<!-- summerNote img 업로드 -->
	<insert id="insertSummernote">
		insert
		  into  tb_file
		     (
		    	file_no
		      , file_ref_no
		      , file_category	
		      , file_origin_name
		      , file_change_name
		      , file_path		      
		   	 )		    
		values
		  	 (
		  	 	SEQ_FILENO.nextval
		  	  , 0
		  	  , 4
		  	  , #{fileOriginName}
		  	  , #{fileChangeName}
		  	  , #{filePath}		  	
		  	 )  	
	</insert>
	
	<!-- notice insert  -->
	<insert id="insertNotice">
		insert
		  into tb_notice
		  	(
 	            nt_no
              , nt_title
              , nt_content
              , emp_no
              , emp_name              
              , nt_important
              , nt_top             
              , nt_file 	
		  	)
		 values
		 	(
		 		SEQ_NTNO.NEXTVAL
		 	  , #{noticeTitle}
		 	  , #{noticeContent}
		 	  , #{empNo}
		 	  , #{empName}
		 	  , #{noticeImportant}
		 	  , #{noticeTop}
		 	  , #{noticeFile}	
		 	) 		
	</insert>
	
	<!-- insert file  -->
	<insert id="insertFileNotice">
		insert
		  into  tb_file
		     (
		    	file_no
		      , file_ref_no
		      , file_category	
		      , file_origin_name
		      , file_change_name
		      , file_path		      
		   	 )		    
		values
		  	 (
		  	 	SEQ_FILENO.nextval
		  	  , SEQ_NTNO.CURRVAL
		  	  , 4
		  	  , #{fileOriginName}
		  	  , #{fileChangeName}
		  	  , #{filePath}		  	
		  	 )  
	</insert>
	
	<!-- 공지사항 상세보기 > 조회수 증가  -->
	<update id="increaseCount">
		update
				tb_notice
		   set  nt_count = nt_count + 1
		 where  nt_no = #{noticeNo} 
	</update>
	
	<!-- 공지사항 상세조회 -->
	<select id="selectDetailNotice" resultMap="noticeResult">
		   select  nt_no
                 , nt_title
                 , nt_content
                 , emp_no
                 , emp_name
                 , nt_count
                 , nt_important
                 , nt_top
                 , to_char(nt_create_date, 'YYYY-MM-DD') AS "nt_create_date"
                 , nt_file
             from  tb_notice   
			where  nt_status = 'Y'
			  and  nt_no = #{noticeNo}
	</select>
	
	<!-- 등록된 공지사항의 파일  -->
	<select id="selectFileDetail" resultMap="fileResult">
		select  file_no
              , file_origin_name
              , file_change_name
              , file_path                     
         from tb_file
         where file_ref_no = #{noticeNo}
         and file_category = 4	
         and file_status = 'Y'
	</select>
	
	<!-- 공지사항 삭제  -->
	<update id="deleteNotice">
		update 
			   tb_notice
		   set nt_status = 'N'
		 where nt_no = #{noticeNo}  	
	</update>
	
	<!-- 공지사항 수정하기 -->
	<update id="updateNotice">
		 update 
				 tb_notice
		    set  nt_title = #{noticeTitle}
               , nt_content = #{noticeContent}
               , nt_important = #{noticeImportant}
               , nt_top = #{noticeTop}
               , nt_modify_date = sysdate
               , nt_file = #{noticeFile}  
		  where  nt_no = ${noticeNo} 		
	</update>
	
	<!-- 새로운 첨부파일 추가에 앞서서 기존의 파일들 file_status='N' -->
	<update id="updateFileN">
		 update
		        tb_file
		    set file_status = 'N'    
		  where file_ref_no = #{noticeNo}
		    and file_category = 4
	</update>
	
	<!-- 넘어온 파일번호만 다시 file_status='Y'로 하기 -->	
	<update id="updateFileY">
	 	update
		        tb_file
		    set file_status = 'Y'    
		  where file_ref_no = #{refNo}
		    and file_category = 4  
		    and file_no = #{fileNo}
	
	</update>
	
	
	
	<!-- 공지사항 수정하기 > 새로운 첨부파일 -->
	<insert id="updateFileNotice">
		insert
		  into  tb_file
		     (
		    	file_no
		      , file_ref_no
		      , file_category	
		      , file_origin_name
		      , file_change_name
		      , file_path		      
		   	 )		    
		values
		  	 (
		  	 	SEQ_FILENO.nextval
		  	  , #{refNo}
		  	  , 4
		  	  , #{fileOriginName}
		  	  , #{fileChangeName}
		  	  , #{filePath}		  	
		  	 )  	
	</insert>
	
	<select id="selectReplyList" resultMap="noticeCommentResult">
		select
		         ncom_no 
		       , nt_no
		       , nc.emp_no
		       , NVL(emp_profile, 'resources/profile_images/defaultProfile.png') as "emp_profile"
		       , nc.emp_id
		       , ncom_content
		       , to_char(ncom_create_date, 'YYYY-MM-DD') AS "ncom_create_date"
		       , ncom_parent_no
		       , level   
		       , ncom_status
		    from tb_notice_comment nc
		    join tb_employee e on(e.emp_no = nc.emp_no)
		   where nt_no = #{noticeNo}
		     
		   start with ncom_parent_no = 0
		 connect 
		      by prior ncom_no = ncom_parent_no 
		order siblings by ncom_create_date asc		
	</select>
	
	<insert id="InsertCommentParent">
		  insert 
		    into  tb_notice_comment
		        (
		            ncom_no
		          , nt_no
		          , emp_no
		          , emp_id
		          , ncom_content
		          , ncom_parent_no
		        )
		   values
		        (
		            SEQ_NCOMNO.nextval
		          , #{noticeNo}
		          , #{empNo}
		          , #{empId}
		          , #{nCommentContent}
		          , #{nCommentParentNo}
		        )	
	</insert>
	
	<update id="updateComment">
		update 
				tb_notice_comment
		   set  ncom_content = #{nCommentContent}	
		 where  ncom_no = #{nCommentNo}		
	</update>
	
	<update id="deleteComment">
		update 
				tb_notice_comment
		   set  ncom_status = 'N'
		 where  ncom_no = #{comNo}		
	</update>
	
	
	
	
	
	
	
	
</mapper>