<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="projectMapper">

	<resultMap id="projectResult" type="Project">
		<result column="PROJ_NO" property="projNo" />
		<result column="PROJ_TITLE" property="projTitle" />
		<result column="EMP_NO" property="empNo" />
		<result column="PROGRESS" property="progress" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap id="projectMemberResult" type="ProjectMember">
		<result column="PROJ_NO" property="projNo" />
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_NAME" property="memName" />
		<result column="MEM_ROLE" property="memRole" />
		<result column="EMP_PHONE" property="phone" />
		<result column="EMP_EMAIL" property="email" />
		<result column="DEP_NAME" property="department" />
		<result column="POS_NAME" property="position" />
	</resultMap>
	
	<insert id="insertProject">
		INSERT
		  INTO TB_PROJECT
		VALUES
			 (
			   SEQ_PNO.NEXTVAL
			 , #{projTitle}
			 , #{empNo}
			 , #{progress}
			 , #{startDate}
			 , #{endDate}
			 , DEFAULT
			 , DEFAULT 
			 )
	</insert>
	
	<select id="selectProjectList" resultMap="projectResult">
		SELECT P.PROJ_NO
			 , PROJ_TITLE
			 , PROGRESS
			 , START_DATE
			 , END_DATE
			 , ENROLL_DATE
		  FROM TB_PROJECT P
		  JOIN TB_PROJECT_MEM M
		    ON P.PROJ_NO = M.PROJ_NO
		 WHERE MEM_NO = #{empNo}
		   AND P.STATUS = 'Y'
		   AND M.STATUS = 'Y'
		   AND MEM_STATUS = '참여'
	</select>

	<select id="selectMemberList" resultMap="projectMemberResult">
		SELECT MEM_NO
			 , MEM_NAME
			 , MEM_ROLE
			 , EMP_PHONE
			 , EMP_EMAIL
			 , DEP_NAME
			 , POS_NAME
		  FROM TB_PROJECT_MEM
		  JOIN TB_EMPLOYEE
		    ON EMP_NO = MEM_NO
		  JOIN TB_DEPARTMENT
		 USING (DEP_CD)
		  JOIN TB_POSITION
		 USING (POS_CD)
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
		   AND MEM_STATUS = '참여'
	</select>
	
	<select id="validateMember" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_PROJECT P
		  JOIN TB_PROJECT_MEM M
		 	ON P.PROJ_NO = M.PROJ_NO
		 WHERE P.PROJ_NO = #{projNo}
		   AND MEM_NO = #{empNo}
		   AND MEM_ROLE IN ('팀장', '관리자')
	</select>
	
	<select id="selectProject" resultMap="projectResult">
		SELECT PROJ_NO
			 , PROJ_TITLE
			 , PROGRESS
			 , START_DATE
			 , END_DATE
			 , ENROLL_DATE
		  FROM TB_PROJECT 
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
	</select>
	
	<update id="updateProject">
		UPDATE TB_PROJECT
		   SET PROJ_TITLE = #{projTitle}
		   	 , PROGRESS = #{progress}
		   	 , START_DATE = #{startDate}
		   	 , END_DATE = #{endDate}
		 WHERE PROJ_NO = #{projNo}
	</update>
	
	<update id="deleteProject">
		UPDATE TB_PROJECT
		   SET STATUS = 'N'
		 WHERE PROJ_NO = #{projNo}
	</update>
	
	<update id="updateMember">
		UPDATE TB_PROJECT_MEM
		   SET MEM_ROLE = #{memRole}
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</update>
	
	<delete id="deleteMember">
		UPDATE TB_PROJECT_MEM
		   SET STATUS = 'N'
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</delete>
	
	<select id="selectMemberList2" resultMap="projectMemberResult">
		SELECT MEM_NO
			 , MEM_NAME
			 , MEM_ROLE
			 , EMP_PHONE
			 , EMP_EMAIL
			 , DEP_NAME
			 , POS_NAME
		  FROM TB_PROJECT_MEM
		  JOIN TB_EMPLOYEE
		    ON EMP_NO = MEM_NO
		  JOIN TB_DEPARTMENT
		 USING (DEP_CD)
		  JOIN TB_POSITION
		 USING (POS_CD)
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_ROLE = #{memRole}
		   AND STATUS = 'Y'
		   AND MEM_STATUS = '참여'
	</select>


</mapper>