<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="projectMapper">

	<resultMap id="projectResult" type="Project">
		<result column="PROJ_NO" property="projNo" />
		<result column="PROJ_TITLE" property="projTitle" />
		<result column="EMP_NO" property="empNo" />
		<result column="PROGRESS" property="progress" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap id="projectMemberResult" type="ProjectMember">
		<result column="PROJ_NO" property="projNo" />
		<result column="PROJ_TITLE" property="projTitle" />
		<result column="MEM_NO" property="memNo" />
		<result column="MEM_NAME" property="memName" />
		<result column="MEM_ROLE" property="memRole" />
		<result column="EMP_PHONE" property="phone" />
		<result column="EMP_EMAIL" property="email" />
		<result column="EMP_PROFILE" property="empProfile"/>
		<result column="DEP_NAME" property="department" />
		<result column="POS_NAME" property="position" />
	</resultMap>
	
	<resultMap id="projectBoardResult" type="ProjectBoard">
		<result column="PBOARD_NO" property="pboardNo" />
		<result column="PROJ_NO" property="projNo" />
		<result column="PBOARD_WRITER" property="pboardWriter" />
		<result column="EMP_NAME" property="writerName" />
		<result column="REF_TYPE" property="refType" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="STATUS" property="status" />
		<result column="MEETING_DATE" property="meetingDate" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="MEETING_PLACE" property="meetingPlace" />
		<result column="IN_CHARGE" property="incharge" />
		<result column="IN_CHARGE_NAME" property="inchargeName" />
		<result column="CALENDAR_YN" property="calendarYN" />
	</resultMap>
	
	<resultMap id="projectDutyResult" type="ProjectDuty">
		<result column="PBAORD_NO" property="pboardNo" />
		<result column="IMPORTANCE" property="importance" />
		<result column="PROGRESS" property="progress" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="IN_CHARGE" property="incharge" />
		<result column="CALENDAR_YN" property="calendarYN" />
		<result column="IN_CHARGE_NAME" property="inchargeName"/>
	</resultMap>
	
	<resultMap id="projectMeetingResult" type="ProjectMeeting">
		<result column="PBOARD_NO" property="pboardNo" />
		<result column="MEETING_DATE" property="meetingDate" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="MEETING_PLACE" property="meetingPlace" />
		<result column="IN_CHARGE" property="incharge" />
		<result column="IN_CHARGE_NAME" property="inchargeName" />
		<result column="CALENDAR_YN" property="calendarYN" />
	</resultMap>
	
	<resultMap id="projectMeetingMemberResult" type="ProjectMeetingMember">
		<result column="PBOARD_NO" property="pboardNo" />
		<result column="EMP_NO" property="memNo" />
		<result column="EMP_NAME" property="memName" />
		<result column="ATTENDANCE_YN" property="attendanceYN" />
	</resultMap>
	
	<resultMap id="fileResult" type="File">
		<result column="FILE_NO" property="fileNo" />
		<result column="FILE_REF_NO" property="refNo" />
		<result column="FILE_CATEGORY" property="fileCategory" />
		<result column="FILE_ORIGIN_NAME" property="fileOriginName" />
		<result column="FILE_ORIGIN_NAME" property="fileChangeName" />
		<result column="FILE_PATH" property="filePath" />
	</resultMap>
	
	<resultMap id="commentResult" type="Comment">
		<result column="COM_NO" property="comNo" />
		<result column="COME_TYPE" property="comType" />
		<result column="COM_REF_BNO" property="comRefBno" />
		<result column="EMP_NO" property="empNo" />
		<result column="EMP_NAME" property="empName" />
		<result column="COM_CONTENT" property="comContent" />
		<result column="COM_CREATE_DATE" property="comCreateDate" />
		<result column="COM_MODIFY_DATE" property="comModifyDate" />
		<result column="COM_STATUS" property="comStatus" />
	</resultMap>
	
	<resultMap id="calendarResult" type="Calendar">
		<result column="TITLE" property="title" />
		<result column="START_DATE" property="start" />
		<result column="END_DATE" property="end" />
		<result column="START_TIME" property="start" />
		<result column="END_TIME" property="end" />
		<result column="CONTENT" property="content" />
	</resultMap>
	
	<insert id="insertProject">
		INSERT
		  INTO TB_PROJECT
		VALUES
			 (
			   SEQ_PNO.NEXTVAL
			 , #{projTitle}
			 , #{empNo}
			 , #{progress}
			 , #{startDate}
			 , #{endDate}
			 , DEFAULT
			 , DEFAULT 
			 )
	</insert>
	
	<insert id="insertLeader">
		INSERT
		  INTO TB_PROJECT_MEM
		VALUES
		     (
		     SEQ_PNO.CURRVAL
		   , #{empNo}
		   , #{empName}
		   , '팀장'
		   , '참여'
		   , 'Y'
		     )
	</insert>
	
	<select id="selectProjectList" resultMap="projectResult">
		SELECT P.PROJ_NO
			 , PROJ_TITLE
			 , PROGRESS
			 , START_DATE
			 , END_DATE
			 , ENROLL_DATE
		  FROM TB_PROJECT P
		  JOIN TB_PROJECT_MEM M
		    ON P.PROJ_NO = M.PROJ_NO
		 WHERE MEM_NO = #{empNo}
		   AND P.STATUS = 'Y'
		   AND M.STATUS = 'Y'
		   AND MEM_STATUS = '참여'
		   AND P.PROGRESS != '완료'
		 ORDER
		    BY ENROLL_DATE DESC
	</select>
	
	<select id="selectDoneProjectList" resultMap="projectResult">
		SELECT P.PROJ_NO
			 , PROJ_TITLE
			 , PROGRESS
			 , START_DATE
			 , END_DATE
			 , ENROLL_DATE
		  FROM TB_PROJECT P
		  JOIN TB_PROJECT_MEM M
		    ON P.PROJ_NO = M.PROJ_NO
		 WHERE MEM_NO = #{empNo}
		   AND P.STATUS = 'Y'
		   AND M.STATUS = 'Y'
		   AND MEM_STATUS = '참여'
		   AND P.PROGRESS = '완료'
		 ORDER
		    BY ENROLL_DATE DESC
	</select>

	<select id="selectMemberList" resultMap="projectMemberResult">
		SELECT MEM_NO
			 , MEM_NAME
			 , MEM_ROLE
			 , EMP_PHONE
			 , EMP_EMAIL
			 , EMP_PROFILE
			 , DEP_NAME
			 , POS_NAME
		  FROM TB_PROJECT_MEM
		  JOIN TB_EMPLOYEE
		    ON EMP_NO = MEM_NO
		  JOIN TB_DEPARTMENT
		 USING (DEP_CD)
		  JOIN TB_POSITION
		 USING (POS_CD)
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
		   AND MEM_STATUS = '참여'
	</select>
	
	<select id="selectMyInvation" resultMap="projectMemberResult">
		SELECT P.PROJ_NO
			 , PROJ_TITLE
			 , MEM_ROLE
		  FROM TB_PROJECT_MEM M
		  JOIN TB_PROJECT P
		 	ON M.PROJ_NO = P.PROJ_NO
		 WHERE MEM_NO = #{empNo}
		   AND MEM_STATUS = '대기'
		   AND M.STATUS = 'Y'
	</select>
	
	<select id="validateMember" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_PROJECT P
		  JOIN TB_PROJECT_MEM M
		 	ON P.PROJ_NO = M.PROJ_NO
		 WHERE P.PROJ_NO = #{projNo}
		   AND MEM_NO = #{empNo}
		   AND MEM_ROLE IN ('팀장', '관리자')
	</select>
	
	<select id="selectProject" resultMap="projectResult">
		SELECT PROJ_NO
			 , PROJ_TITLE
			 , PROGRESS
			 , START_DATE
			 , END_DATE
			 , ENROLL_DATE
		  FROM TB_PROJECT 
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
	</select>
	
	<update id="updateProject">
		UPDATE TB_PROJECT
		   SET PROJ_TITLE = #{projTitle}
		   	 , PROGRESS = #{progress}
		   	 , START_DATE = #{startDate}
		   	 , END_DATE = #{endDate}
		 WHERE PROJ_NO = #{projNo}
	</update>
	
	<update id="deleteProject">
		UPDATE TB_PROJECT
		   SET STATUS = 'N'
		 WHERE PROJ_NO = #{projNo}
	</update>
	
	<update id="updateMember">
		UPDATE TB_PROJECT_MEM
		   SET MEM_ROLE = #{memRole}
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</update>
	
	<delete id="deleteMember">
		UPDATE TB_PROJECT_MEM
		   SET STATUS = 'N'
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</delete>
	
	<select id="selectMemberList2" resultMap="projectMemberResult">
		SELECT MEM_NO
			 , MEM_NAME
			 , MEM_ROLE
			 , EMP_PHONE
			 , EMP_EMAIL
			 , DEP_NAME
			 , POS_NAME
		  FROM TB_PROJECT_MEM
		  JOIN TB_EMPLOYEE
		    ON EMP_NO = MEM_NO
		  JOIN TB_DEPARTMENT
		 USING (DEP_CD)
		  JOIN TB_POSITION
		 USING (POS_CD)
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_ROLE = #{memRole}
		   AND STATUS = 'Y'
		   AND MEM_STATUS = '참여'
	</select>
	
	<insert id="insertMember">
		INSERT
		  INTO TB_PROJECT_MEM
		VALUES
		     (
		       #{projNo}
		     , #{memNo}
		     , #{memName}
		     , #{memRole}
		     , '대기'
		     , 'Y'
		     )
	</insert>
	
	<select id="validateNewMember" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_PROJECT_MEM
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO IN ${memNo}
	</select>

	<insert id="insertBoard">
	INSERT 
	  INTO TB_PBOARD
	VALUES
		 (
		   SEQ_PBNO.NEXTVAL
		 , #{projNo}
		 , #{pboardWriter}
		 , '업무'
		 , #{title}
		 , #{content}
		 , DEFAULT
		 , DEFAULT
		 , DEFAULT
		 )
	</insert>
	
	<insert id="insertDuty">
		INSERT
		  INTO TB_PDUTY
		VALUES
			 (
			   SEQ_PBNO.CURRVAL
			 , #{progress}
			 , #{startDate}
			 , #{endDate}
			 , #{incharge}
			 , #{calendarYN}
			 , #{inchargeName}
			 )
	</insert>
	
	<insert id="insertFile">
		INSERT
		  INTO TB_FILE
		VALUES
		     (
		       SEQ_FILENO.NEXTVAL
		     , SEQ_PBNO.CURRVAL
		     , 2
		     , #{fileOriginName}
		     , #{fileChangeName}
		     , #{filePath}
		     , DEFAULT
		     , DEFAULT
		     , DEFAULT
		     )
	</insert>
	
	<insert id="insertFileWhenUpdate">
		INSERT
		  INTO TB_FILE
		VALUES
		     (
		       SEQ_FILENO.NEXTVAL
		     , #{refNo}
		     , 2
		     , #{fileOriginName}
		     , #{fileChangeName}
		     , #{filePath}
		     , DEFAULT
		     , DEFAULT
		     , DEFAULT
		     )
	</insert>
	
	<select id="selectDutyBoardList" resultMap="projectBoardResult">
		SELECT
			   PROJ_NO
			 , PBOARD_NO
			 , PBOARD_WRITER
			 , EMP_NAME
			 , REF_TYPE
			 , TITLE
			 , CONTENT
			 , CREATE_DATE
		  FROM TB_PBOARD
		  JOIN TB_EMPLOYEE
		    ON PBOARD_WRITER = EMP_NO
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
		   AND REF_TYPE = '업무'
		 ORDER
		 	BY CREATE_DATE DESC
	</select>
	
	<select id="selectDuty" resultMap="projectDutyResult">
		SELECT
			   PBOARD_NO
			 , PROGRESS
			 , START_DATE
			 , END_DATE
			 , IN_CHARGE
			 , IN_CHARGE_NAME
			 , CALENDAR_YN
		  FROM TB_PDUTY
		 WHERE PBOARD_NO = #{pboardNo}
	</select>
	
	<select id="selectFile" resultMap="fileResult">
		SELECT
		       FILE_NO
		     , FILE_REF_NO
		     , FILE_ORIGIN_NAME
		     , FILE_PATH
		  FROM TB_FILE
		 WHERE FILE_CATEGORY = 2
		   AND FILE_STATUS = 'Y'
		   AND FILE_REF_NO = #{pboardNo}
	</select>
	
	<select id="selectBoard" resultMap="projectBoardResult">
		SELECT PBOARD_NO
			 , PROJ_NO
			 , PBOARD_WRITER
			 , TITLE
			 , CONTENT
		  FROM TB_PBOARD
		 WHERE PBOARD_NO = #{pboardNo}
	</select>
	
	<update id="updateProjectBoard">
		UPDATE TB_PBOARD
		   SET TITLE = #{title}
		   	 , CONTENT = #{content}
		   	 , MODIFY_DATE = DEFAULT
		 WHERE PBOARD_NO = #{pboardNo}
	</update>
	
	<update id="updateProjectDuty">
		UPDATE TB_PDUTY
		   SET PROGRESS = #{progress}
		     , START_DATE = #{startDate}
		     , END_DATE = #{endDate}
		     , IN_CHARGE = #{incharge}
		     , IN_CHARGE_NAME = #{inchargeName}
		     , CALENDAR_YN = #{calendarYN}
		 WHERE PBOARD_NO = #{pboardNo}
	</update>
	
	<update id="updateFile">
		UPDATE TB_FILE
		   SET FILE_ORIGIN_NAME = #{fileOriginName}
		     , FILE_CHANGE_NAME = #{fileChangeName}
		     , FILE_PATH = #{filePath}
		     , FILE_UPLOAD_DATE = DEFAULT
		 WHERE FILE_REF_NO = #{refNo}
		   AND FILE_CATEGORY = 2
	</update>
	
	<update id="deleteBoard">
		UPDATE TB_PBOARD
		   SET STATUS = 'N'
		 WHERE PBOARD_NO = #{pboardNo}
	</update>
	
	<update id="deleteFile">
		UPDATE TB_FILE
		   SET FILE_STATUS = 'N'
		 WHERE FILE_CATEGORY = 2
		   AND FILE_REF_NO = #{pboardNo}
	</update>
	
	<insert id="insertComment">
		INSERT
		  INTO TB_COMMENT
		VALUES
			 (
			   SEQ_CNO.NEXTVAL
			 , 2
			 , #{comRefBno}
			 , #{empNo}
			 , #{empId}
			 , #{empName}
			 , #{comContent}
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			 )
	</insert>
	
	<select id="selectCommentList" resultMap="commentResult">
		SELECT
			   COM_NO
			 , COM_REF_BNO
			 , EMP_NO
			 , EMP_NAME
			 , COM_CONTENT
			 , COM_CREATE_DATE
		  FROM TB_COMMENT
		 WHERE COM_TYPE = 2
		   AND COM_REF_BNO = #{comRefBno}
	</select>
	
	<delete id="deleteComment">
		DELETE
		  FROM TB_COMMENT
		 WHERE COM_NO = #{comNo}
		   AND COM_TYPE = 2
	</delete>
	
	<select id="validateInchargeMember" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_PROJECT P
		  JOIN TB_PROJECT_MEM M
		 USING (PROJ_NO)
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{empNo}
		   AND P.STATUS = 'Y'
		   AND M.STATUS = 'Y'
		   AND MEM_STATUS = '참여'
	</select>
	
	<update id="answerYes">
		UPDATE TB_PROJECT_MEM
		   SET MEM_STATUS = '참여'
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</update>
	
	<update id="answerNo">
		UPDATE TB_PROJECT_MEM
		   SET STATUS = 'N'
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</update>
	
	<select id="selectWaitingMemberList" resultMap="projectMemberResult">
		SELECT MEM_NO
			 , MEM_NAME
			 , MEM_ROLE
			 , NVL(EMP_PHONE, '등록된 번호 없음'
			 , EMP_EMAIL
			 , DEP_NAME
			 , POS_NAME
			 , PROJ_NO 
		  FROM TB_PROJECT_MEM
		  JOIN TB_EMPLOYEE
		    ON EMP_NO = MEM_NO
		  JOIN TB_DEPARTMENT
		 USING (DEP_CD)
		  JOIN TB_POSITION
		 USING (POS_CD)
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
		   AND MEM_STATUS = '대기'
	</select>
	
	<delete id="deleteWaitingMember">
		DELETE
		  FROM TB_PROJECT_MEM
		 WHERE PROJ_NO = #{projNo}
		   AND MEM_NO = #{memNo}
	</delete>
	
	<select id="selectMeetingList" resultMap="projectBoardResult">
		SELECT PBOARD_NO
			 , PROJ_NO
			 , PBOARD_WRITER
			 , EMP_NAME
			 , REF_TYPE
			 , TITLE
			 , CONTENT
			 , CREATE_DATE
			 , MEETING_DATE
			 , START_TIME
			 , END_TIME
			 , MEETING_PLACE
			 , IN_CHARGE
			 , EMP_NAME AS IN_CHARGE_NAME
			 , CALENDAR_YN
		  FROM TB_PBOARD
		  JOIN TB_EMPLOYEE
		  	ON PBOARD_WRITER = EMP_NO
		  JOIN TB_PMEET
		 USING (PBOARD_NO)
		 WHERE PROJ_NO = #{projNo}
		   AND STATUS = 'Y'
		   AND REF_TYPE = '회의'
		 ORDER 
		 	BY CREATE_DATE DESC
	</select>
	
		
	<select id="selectMeeting" resultMap="projectMeetingResult">
		SELECT PBOARD_NO
			 , MEETING_DATE
			 , START_TIME
			 , END_TIME
			 , MEETING_PLACE
			 , IN_CHARGE
			 , EMP_NAME AS IN_CHARGE_NAME
			 , CALENDAR_YN
		  FROM TB_PMEET
		  JOIN TB_EMPLOYEE
		  	ON IN_CHARGE = EMP_NO
		 WHERE PBOARD_NO = #{pboardNo}
	</select>
	
	<select id="selectMeetingMember" resultMap="projectMeetingMemberResult">
		SELECT PBOARD_NO
			 , EMP_NO
			 , EMP_NAME
			 , ATTENDANCE_YN
		  FROM TB_PMEET_MEM
		 WHERE PBOARD_NO = #{pboardNo}
	</select>
	
	<insert id="insertMeetingBoard">
		INSERT 
		  INTO TB_PBOARD
		VALUES
			 (
			   SEQ_PBNO.NEXTVAL
			 , #{projNo}
			 , #{pboardWriter}
			 , '회의'
			 , #{title}
			 , #{content}
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			 )
	</insert>
	
	
	<insert id="insertMeeting">
		INSERT
		  INTO TB_PMEET
		VALUES
			 (
			   SEQ_PBNO.CURRVAL
			 , #{meetingDate}
			 , #{startTime}
			 , #{endTime}
			 , #{meetingPlace}
			 , #{incharge}
			 , #{calendarYN}
			 )
	</insert>
		
	<insert id="insertMeetingMember">
		INSERT
		  INTO TB_PMEET_MEM
		VALUES
			 (
			   SEQ_PBNO.CURRVAL
			 , #{empNo}
			 , #{empName}
			 , NULL
			 )
	</insert>
	
	<select id="validateParticipant" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_PMEET_MEM
		 WHERE PBOARD_NO = #{pboardNo}
		   AND EMP_NO = #{memNo}
	</select>
	
	<update id="updateAttendance">
		UPDATE TB_PMEET_MEM
		   SET ATTENDANCE_YN = #{attendanceYN}
		 WHERE PBOARD_NO = #{pboardNo}
		   AND EMP_NO = #{memNo}
	</update>
	
	<select id="selectCalendarDutyList" resultMap="calendarResult">
		SELECT
			   TITLE
			 , START_DATE
			 , END_DATE
		  FROM TB_PBOARD
		  JOIN TB_PDUTY
		 USING (PBOARD_NO)
		 WHERE STATUS = 'Y'
		   AND CALENDAR_YN = 'Y'
		   AND PROJ_NO = #{projNo}
	  <choose>
		<when test='progress == "준비"'>
		   AND PROGRESS = '준비'
		</when>	  
		<when test='progress == "진행"'>
		   AND PROGRESS = '진행'
		</when>
		<when test='progress == "지연"'>
		   AND PROGRESS = '지연'
		</when>
	  </choose>
	</select>
	
		<select id="selectCalendarMeetingList" resultMap="calendarResult">
		SELECT
			   TITLE
			 , CONTENT
			 , MEETING_DATE || 'T' || START_TIME AS "START_TIME"
			 , MEETING_DATE || 'T' || END_TIME AS "END_TIME"
		  FROM TB_PBOARD
		  JOIN TB_PMEET
		 USING (PBOARD_NO)
		 WHERE STATUS = 'Y'
		   AND CALENDAR_YN = 'Y'
		   AND PROJ_NO = #{projNo}
	</select>
	

</mapper>