<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="signMapper">

	<resultMap id="SelectVacationResult" type="SelectVacation">
		<result column="dp_no" property="dpNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="dp_title" property="dpTitle"/>
		<result column="dp_create" property="dpCreate"/>
		<result column="dp_modify" property="dpModify"/>
		<result column="dp_status" property="dpStatus"/>
		<result column="dp_final" property="dpFinal"/>
		<result column="dp_category" property="dpCategory"/>
		<result column="dp_origin" property="dpOrigin"/>
		<result column="dp_change" property="dpChange"/>
		<result column="va_start" property="vaStart"/>
		<result column="va_end" property="vaEnd"/>
		<result column="va_category" property="vaCategory"/>
		<result column="va_content" property="vaContent"/>
		<result column="va_useday" property="vaUseday"/>
	</resultMap>
	
	<resultMap id="SelectListResult" type="Dtpaper">
		<result column="dp_no" property="dpNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="dp_title" property="dpTitle"/>
		<result column="dp_create" property="dpCreate"/>
		<result column="dp_modify" property="dpModify"/>
		<result column="dp_status" property="dpStatus"/>
		<result column="dp_final" property="dpFinal"/>
		<result column="dp_category" property="dpCategory"/>
		<result column="dp_origin" property="dpOrigin"/>
		<result column="dp_change" property="dpChange"/>
		
	</resultMap>
	
	<resultMap id="SelectProgressListResult" type="Dtpaper">
		<result column="dp_no" property="dpNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="dp_title" property="dpTitle"/>
		<result column="dp_create" property="dpCreate"/>
		<result column="dp_modify" property="dpModify"/>
		<result column="dp_status" property="dpStatus"/>
		<result column="dp_final" property="dpFinal"/>
		<result column="dp_category" property="dpCategory"/>
		<result column="dp_origin" property="dpOrigin"/>
		<result column="dp_change" property="dpChange"/>
		<result column="sign_empname" property="signEmpName"/>
	</resultMap>
	
	<resultMap id="SelectSignListResult" type="Sign">
		<result column="dp_no" property="dpNo"/>
		<result column="signemp_no" property="signEmpNo"/>
		<result column="si_seq" property="siSeq"/>
		<result column="si_appdate" property="siAppdate"/>
		<result column="si_status" property="siStatus"/>
		<result column="si_asign" property="siAsign"/>
		<result column="si_rep" property="siRep"/>
	</resultMap>
	 <!-- 연차 기안서 -->
	<insert id="insertDtpaper">
		
		insert
		 
		  into tb_dtpaper
		  	  (
		  	  	dp_no
		  	  ,	emp_no
		  	  , dp_title
		  	  , dp_category
		  	  , dp_origin
		  	  , dp_change
		  	  )
		values
			  (
			  <choose>
				  <when test="dpCategory.equals('연차')">
				  	10||seq_vac.nextval
				  </when>
			  	  <when test="dpCategory.equals('외근')">
				  	20||seq_otw.nextval
				  </when>
				  <when test="dpCategory.equals('퇴직원')">
				  	30||seq_res.nextval
				  </when>
			  	  <otherwise>
				  	40||seq_coop.nextval
				  </otherwise>
			  </choose>
			  , #{ empNo }
			  , #{ dpTitle }
			  , #{ dpCategory }
			  , #{ dpOrigin }
			  , #{ dpChange }
			  ) 
	</insert>
	<insert id="saveDtpaper">
		
		insert
		 
		  into tb_dtpaper
		  	  (
		  	  	dp_no
		  	  ,	emp_no
		  	  , dp_title
		  	  , dp_final
		  	  , dp_category
		  	  , dp_origin
		  	  , dp_change
		  	  
		  	  )
		values
			  (
			  <choose>
				  <when test="dpCategory.equals('연차')">
				  	10||seq_vac.nextval
				  </when>
			  	  <when test="dpCategory.equals('외근')">
				  	20||seq_otw.nextval
				  </when>
				  <when test="dpCategory.equals('퇴직원')">
				  	30||seq_res.nextval
				  </when>
			  	  <otherwise>
				  	40||seq_coop.nextval
				  </otherwise>
			  </choose>
			  , #{ empNo }
			  , #{ dpTitle }
			  , '임시저장'
			  , #{ dpCategory }
			  , #{ dpOrigin }
			  , #{ dpChange }
			  ) 
	</insert>
	<insert id="insertVacation">
		insert
			
			into tb_vacation
			  	  (
			  	  	dp_no
			  	  ,	va_start
			  	  , va_end
			  	  , va_category
			  	  , va_content
			  	  )
			values
				  (
				    10||seq_vac.currval 
				  , #{ vaStart }
				  , #{ vaEnd }
				  , #{ vaCategory }
				  , #{ vaContent }
				  )
	</insert>
	<insert id="insertVaSign">
		insert
		  into tb_sign
		     (
		       dp_no
		     , signemp_no
		     , si_seq
		     , si_asign
		     <if test="siSeq == 1">
			 , si_status
			 </if>
		     ) 
		 values
		 (
	  		10||seq_vac.currval
		  , #{ signEmpNo }
		  , #{ siSeq }
		  , #{ siAsign }
		  <if test="siSeq == 1">
		  , 'C'
		  </if>
		 )
	</insert>
	
	<!-- 외근 기안서 -->
	
	<insert id="insertOtwork">
		insert
		  into tb_otwork
		  (
		  	dp_no
		  , ot_startdate
		  , ot_enddate
		  , ot_customer
		  , ot_content
		  , ot_trans
		  , ot_note
		  , ot_place
		  , ot_supervisor
		  ,	ot_call
		  )
		values
		(
		  20||seq_otw.currval
		, #{otStartdate} 
		, #{otEnddate} 
		, #{otCustomer} 
		, #{otContent} 
		, #{otTrans} 
		, #{otNote} 
		, #{otPlace} 
		, #{otSupervisor} 
		, #{otCall} 
		)
	</insert>
	<insert id="insertOwSign">
		insert
		  into tb_sign
		     (
		       dp_no
		     , signemp_no
		     , si_seq
		     , si_asign
	       	 <if test="siSeq == 1">
			 , si_status
			 </if>
		     ) 
		 values
		 (
			20||seq_otw.currval
		  , #{ signEmpNo }
		  , #{ siSeq }
		  , #{ siAsign }
	      <if test="siSeq == 1">
		  , 'C'
		  </if>
		 )
	</insert>
	
	<!-- 퇴직원 신청서 -->
	<insert id="insertReSignEmp">
		insert
		   into tb_resign
		   (
		   	  dp_no
		   	, res_redate
		   	, res_account
		   	, res_bank
		   	, res_content
		   	, res_mem
		   	, res_dept
		   	, res_email
		   	, res_nextmem
		   	, res_tamem
		   )
		 values
		 (
		    30||seq_res.currval
		  , #{ resRedate }
		  , #{ resAccount }
		  , #{ resBank }
		  , #{ resContent }
		  , #{ resMem }
		  , #{ resDept }
		  , #{ resEmail }
		  , #{ resNextMem }
		  , #{ resTaMem }
		 )
	
	</insert>
	<insert id="insertReSign">
		insert
		  into tb_sign
		     (
		       dp_no
		     , signemp_no
		     , si_seq
		     , si_asign
	         <if test="siSeq == 1">
			 , si_status
			 </if>
		     ) 
		 values
		 (
			30||seq_res.currval
		  , #{ signEmpNo }
		  , #{ siSeq }
		  , #{ siAsign }
		   <if test="siSeq == 1">
		  , 'C'
		  </if>
		 )
	</insert>
	
	
	
	<!-- 업무협조 기안서 -->
	
	
	<insert id="insertCooperation">
		insert
		  into tb_coop
			(
			   dp_no
			 , cp_requestor
			 , cp_requestday
			 , cp_content	
			 , cp_dept
			
			)
	    values
	      (
	        40||seq_coop.currval
	      , #{cpRequestor}
	      , #{cpRequestday}
	      , #{cpContent} 
	      , #{cpDept}
	      )
			
	</insert>
	<insert id="insertCoSign">
		insert
		  into tb_sign
		     (
		       dp_no
		     , signemp_no
		     , si_seq
		     , si_asign
	         <if test="siSeq == 1">
			 , si_status
			 </if>
		     ) 
		 values
		 (
			40||seq_coop.currval
		  , #{ signEmpNo }
		  , #{ siSeq }
		  , #{ siAsign }
		  <if test="siSeq == 1">
		  , 'C'
		  </if>
		 )
	</insert>
	
	<!-- 리스트 카운트 -->
	<select id="selectListCount" resultType="_int">
		select
		       count(*)	
		  from tb_dtpaper
		 where dp_final = <choose>
		 					<when test="fn.equals('임시저장')">
		 						'임시저장'
		 					</when>
		 					<when test="fn.equals('진행중')">
		 						'진행중'
		 					</when>
		 					<when test="fn.equals('반려됨')">
		 						'반려됨'
		 					</when>
		 					<when test="fn.equals('결재완료')">
		 						'결재완료'
		 					</when>
		 					<otherwise>
		 						'대기'
		 					</otherwise>
		 				  </choose>
		   and dp_status = 'N'  
		   and emp_no = ${ empNo }
	</select>
	<select id="selectList" resultMap="SelectListResult">
		select
		       dp_no
		      ,emp_no
		      ,dp_title
		      ,to_char(dp_create, 'YYYY-MM-DD') AS "dp_create"
		      ,dp_modify
		      ,dp_status
		      ,dp_final
		      ,dp_category
		      ,dp_origin
		      ,dp_change
		  from tb_dtpaper
		 where dp_final = <choose>
		 					<when test="fn.equals('임시저장')">
		 						'임시저장'
		 					</when>
		 					<when test="fn.equals('진행중')">
		 						'진행중'
		 					</when>
		 					<when test="fn.equals('반려됨')">
		 						'반려됨'
		 					</when>
		 					<when test="fn.equals('결재완료')">
		 						'결재완료'
		 					</when>
		 					<otherwise>
		 						'대기'
		 					</otherwise>
		 				  </choose>
		   and dp_status = 'N'
		   and emp_no = #{ empNo }
		 order
		    by dp_create desc
	</select>
	<select id="selectProgressList" resultMap="SelectProgressListResult">
		select
		       d.dp_no
		      ,emp_no
		      ,dp_title
		      ,to_char(dp_create, 'YYYY-MM-DD') AS "dp_create"
		      ,dp_modify
		      ,dp_status
		      ,dp_final
		      ,dp_category
		      ,dp_origin
		      ,dp_change
		      ,(select emp_name 
				    from tb_sign 
				    join tb_employee on (signemp_no = emp_no)
				   where dp_no = d.dp_no 
				     and si_seq = (select max(si_seq) from tb_sign where dp_no = d.dp_no)
				  ) AS sign_empname
			  ,(select si_appdate 
			      from tb_sign s 
			     where s.dp_no = d.dp_no 
			       and si_seq = (select max(si_seq) from tb_sign where dp_no = d.dp_no))
		  from tb_dtpaper d
		 where 	dp_final = 	<choose>
			 					<when test="fn.equals('진행중')">
						       		'진행중' or dp_final = '대기'
			 					</when>
			 					<otherwise>
			 						'결재완료'
			 					</otherwise>
			 				  </choose>
		   and dp_status = 'N'
		   and d.emp_no = #{ empNo }
		 order
		    by dp_create desc
	</select>
	
	<!-- <select>
		select signemp_no
		  from sign
		 where max(si_seq)
	</select>
	<select>
		select emp_name
		  from employee
		 where emp_no = (select signemp_no from sign where si_seq = max(si_seq))
	</select> -->
	
	
	<select id="selectProgressListCount" resultType="_int">
		select
		       count(*)	
		  from tb_dtpaper
		 where dp_final = <choose> 
		 					<when test="fn.equals('진행중')">
					       		 '진행중' or dp_final = '대기'
		 					</when>
		 					<otherwise>
		 						 '결재완료'
		 					</otherwise>
		 				</choose>
		   and dp_status = 'N' 
		   and emp_no = ${ empNo }
	</select>
</mapper>
