<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="todoMapper">
	
	<resultMap id="todoResult" type="Todo">
		<result column="TODO_NO" property="todoNo" />
		<result column="EMP_NO" property="empNo" />
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="TODO_CONTENT" property="todoContent" />
		<result column="DONE_YN" property="doneYN" />
		<result column="TODO_DATE" property="todoDate" />
		<result column="CATE_TITLE" property="categoryTitle" />
		<result column="COLOR" property="color" />
	</resultMap>
	
	<resultMap id="todoCateResult" type="TodoCategory">
		<result column="CATE_NO" property="categoryNo" />
		<result column="EMP_NO" property="empNo" />
		<result column="CATE_TITLE" property="categoryTitle" />
		<result column="COLOR" property="color" />
	</resultMap>


	<select id="selectTodoCateList" resultMap="todoCateResult">
		SELECT CATE_NO
			 , CATE_TITLE
			 , COLOR
		  FROM TB_TODO_CATE
		 WHERE EMP_NO = #{ empNo }
		 ORDER
		    BY CATE_NO ASC
	</select>

	<select id="selectTodoList" resultMap="todoResult">
		SELECT
			   T.TODO_NO AS "TODO_NO"
			 , T.EMP_NO AS "EMP_NO"
			 , CATEGORY_NO
			 , CATE_TITLE
			 , TODO_CONTENT
			 , COLOR
			 , DONE_YN
			 , TODO_DATE
		  FROM TB_TODO T
		  JOIN TB_TODO_CATE TC
		    ON (CATEGORY_NO = CATE_NO)
		 WHERE T.EMP_NO = #{ empNo }
		 ORDER 
		 	BY CATEGORY_NO ASC
	</select>
	
	<update id="doneTodo">
			UPDATE TB_TODO
		<choose>    
			<when test="#{doneYN} == 'Y'">
			   SET DONE_YN = 'N'
			</when>  
			<otherwise>
			   SET DONE_YN = 'Y'
			</otherwise>
		</choose>
			 WHERE TODD_NO = #{ todoNo }
	</update>
	
	<delete id="deleteTodo">
		DELETE TB_TODO
		 WHERE TODO_NO = #{ todoNo }
	</delete>
	
	<insert id="insertTodo">
		INSERT
		  INTO TB_TODO
		VALUES
			 (
			   SEQ_TDNO.NEXTVAL
			 , #{empNo}
			 , #{categoryNo}
			 , #{todoContent}
			 , DEFAULT
			 , DEFAULT
			 )
	</insert>
	
</mapper>