@charset "UTF-8";
/* ==============================================================

addressListView

===============================================================*/  
.adOuter{margin: auto;
    padding: 20px;         
    align-items: center;
    box-shadow :  2px 3px 5px 2px rgb(212, 211, 211);;
    border-radius: 10px;
    width: 100%; 
    height: 90%;}
/* 그리드영역 */
 .adContainer{
     display: grid;
     grid-gap: 15px;
     height: 90vh;
     grid-template-columns: 200px 1fr 450px;
     grid-template-rows: 60px 0.45fr 0.45fr 40px;
     grid-template-areas: 'menu1 header header'
                          'menu2_1 main detail'
                          'menu2_2 main detail'
                          'menu3  footer detail';    
    color: rgb(43, 42, 42);  
    font-size: 13px;
 }
 .adContainer div{
     /* border: 1px solid  black; */
 } 

 .addMenu1{grid-area: menu1;}
 
 .addMenu2_1{ grid-area: menu2_1;
 }
 
 .addMenu2_2{grid-area: menu2_2;}
 
 .addMenu3{grid-area: menu3;}

 .addSearch{grid-area: header;}

 .addMain{grid-area: main;}

 .detailAdd{grid-area: detail;}

 .pasingAdd{
    grid-area: footer;
    place-items: center;
    display: grid;
}

 /*  그 외 css */

 .centerBtn{
    margin-top: 15px;
   
    /* position:absolute; right: 20%; */
 }

 .sub-add {margin-left: 1.5rem;}
 .sub-add:hover{ cursor: pointer;}    


 .table>tbody>tr:hover{
     cursor:pointer;
     background-color:#f1f1f1;
  }
 .addBoxShadow {        
     margin-left:30px;
     padding: 10px 10px 10px 50px;         
     align-items: center;
     box-shadow :  2px 3px 5px 2px rgb(212, 211, 211);;
     border-radius: 1px;
     width: 80%; 
 }    
 .Addstar input[type=checkbox]{
     display: none;
 }
 .Addstar label{
     font-size: 2.0em;
     color: transparent;
     text-shadow: 0 0 0 #f0f0f0;
 }
 .Addstar label:hover{ text-shadow: 0 0 0 rgba(250, 208, 0, 0.99); }
 .Addstar label:hover ~ label{ text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);}
 .Addstar input[type=checkbox]:checked ~ label{ text-shadow: 0 0 0 rgba(250, 208, 0, 0.99); }

 .Addstar3 input[type=checkbox]{
     display: none;
 }
 .Addstar3 label{
     font-size: 2.5em;
     color: transparent;
     text-shadow: 0 0 0 #f0f0f0;
 }
 .Addstar3 label:hover{ text-shadow: 0 0 0 rgba(250, 208, 0, 0.99); }
 .Addstar3 label:hover ~ label{ text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);}
 .Addstar3 input[type=checkbox]:checked ~ label{ text-shadow: 0 0 0 rgba(250, 208, 0, 0.99); }

 .fontSmallSize{
     font-size: 13px;
     color: rgb(104, 103, 103);        
 }
 .fontMiddleAdd{            
     font-weight: 500;         
     font-size: 14px;
 }
 #profileImg{
     width:23px;
     height:23px;
     border:1px solid lightgray;
     border-radius: 50%;               
 }
 .aHover:hover{
    cursor: pointer;
 }

.starYellow{                
    font-size: 1.0em;
    color:rgba(250, 208, 0, 0.99);        
}
.starWhite{       
    font-size: 1.0em;     
    color: rgb(197, 197, 194);
}

#mainAddMenu, #subAddMenu{ list-style-type: none; margin: 0; padding:0;}

#subAddMenu>li{padding-left: 20px; margin: 0px;}

#subAddMenu>li:hover{cursor:pointer; background: rgb(233, 244, 248);}
#mainAddMenu>li:hover{cursor:pointer; background: rgb(233, 244, 248);}

.starAdd:hover{cursor:pointer; background: rgb(233, 244, 248);}

.btn-text{border-style: none; background-color: white;} 

#empAddress:hover{cursor:pointer; background: rgb(233, 244, 248);}

.formInput{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;     
    margin: 5px;   
}

.btnAdd{border-style: none;}
.btnAdd:hover{background-color:rgba(250, 208, 0, 0.99);}

.fontsize16{font-size: 16px;}
.fontsize13{font-size: 13px;}

.resize13{height: 13px;}

/* .gpOption{font-optical-sizing: 10px;} */

/* #dataStarAddTable{
    vertical-align: middle;
} */

.inputStyle input{        
    border: 1px solid #ced4da;
    border-radius: 0.25rem;     
    height: 32px;
    
 }